@using GROBS.App_Code
@using GROBS.Models
@using X.PagedList
@using X.PagedList.Mvc

@{
    ViewBag.Title = "Authority";
}

<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/auth_juese">角色</a>
        </li>
        <li class="active">用户授权</li>
    </ul>
</div>
<div class="page-content">
    <div class="page-header">
        <p>
            <button type="button" class="btn btn-default " id="bt_addInfo" onclick="AddInfo()"><i class="icon-adn"></i>添加</button>
            <button type="button" class="btn btn-default " id="bt_updateInfo" onclick="EditInfo()"><i class="icon-edit"></i>关闭</button>
            <button type="button" class="btn btn-default " id="bt_deleteInfo" onclick="DelInfo()"><i class="icon-remove"></i>删除</button>
            <button type="button" class="btn btn-default " id="bt_refreshInfo" onclick="javascript: location.reload()"><i class="icon-refresh"></i>刷新</button>
        </p>
    </div>

    <div class="row">
        <table class="table" id="mydatatable">
            <caption></caption>
            <thead>
                <tr>
                    <td></td>
                    <td>人员序号</td>
                    <td>失效日期</td>
                    <td>是否关闭</td>
                    <td>制单日期</td>
                    <td>制单人</td>
                </tr>
            </thead>
            <tbody>
                @*@foreach (userinfoViewModel us in Model.                    <tr>
                        <td>
                            <div class="checkbox">
                                <label><input type="checkbox" value="@item.ID"></label>
                            </div>
                        </td>
                        <td>@item.RYID</td>
                        <td>@item.SXDate</td>
                        <td>@item.GuanbiSF</td>
                        <td>@item.MakeDate</td>
                        <td>@item.MakeMan</td>
                    </tr>
                }*@
            </tbody>
        </table>
    </div>
</div>

