@using GROBS.Models
@model LoginViewModel
@{
    ViewBag.Title = "欢迎访问嘉事国润订单服务平台";
    Layout = "~/Views/Shared/EmptyView.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
            //var thisOS = navigator.platform;
            //var os = new Array("iPhone", "iPod", "iPad", "android", "Nokia", "SymbianOS", "Symbian", "Windows Phone", "Phone", "Linux armv71", "MAUI", "UNTRUSTED/1.0", "Windows CE", "BlackBerry", "IEMobile");
            //for (var i = 0; i < os.length; i++) {
            //    if (thisOS.match(os[i])) {
            //        $("#smallscreen").val("1");
            //    }
            //}
        $("#login").bind("click", function () {
            $("#form").submit();
        });
        //enter键登录
        $(document).keyup(function (event) {
            if (event.keyCode == 13) {
                $("#login").trigger("click");
            }
        });
    });
</script>
<div class="page-content" style="background:inherit;">
    @*继承父的渐变色*@
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4" style="margin-top:100px;">
                    <div class="panel">
                        <div class="panel-heading center" style="padding:30px 0px;">
                            <img src="~/Imgs/carousel/logo.png" alt="上海嘉事国润医疗器械有限公司" title="上海嘉事国润医疗器械有限公司" style="max-height:110px;max-width:180px;" />
                        </div>
                        <div class="panel-body">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "form" }))
                            {

                                @Html.AntiForgeryToken()
                                <fieldset>
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @*邮箱*@
                                    <label class="block clearfix">
                                        <span class="block input-icon input-icon-right">
                                            <input class="form-control" id="Email" name="Email" placeholder="请输入邮箱" type="text" style="border-radius:6px!important;background:#eaeaec;border:#eaeaec;">
                                            <i class="icon-user"></i>
                                        </span>
                                    </label>
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    <div class="space-6"></div>
                                    @*密码*@
                                    <label class="block clearfix">
                                        <span class="block input-icon input-icon-right">
                                            <input class="form-control" id="Password" name="Password" placeholder="请输入密码" type="Password" style="border-radius:6px!important;background:#eaeaec;border:#eaeaec;">
                                            <i class="icon-lock"></i>
                                        </span>
                                    </label>
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    <div class="space-18"></div>
                                    @*登录*@
                                    <div class="clearfix">
                                        <button id="login" type="button" class="btn btn-block " style="background-color:#56b18e!important;border:none;border-radius:6px;">
                                            <i class="icon-ok btn-lg bigger-200"></i>
                                        </button>
                                    </div>
                                </fieldset>
                                <div class="space-10"></div>
                                @*<div class="registration pull-right">
                                    <h4>
                                        <i class="icon-hand-right grey"></i>
                                        &nbsp;
                                        <a href="/Account/Register"><b style="color:#56b18e!important">注册</b></a>
                                    </h4>
                                </div>*@
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
