@using GROBS.Models
@model LoginViewModel
@{
    ViewBag.Title = "欢迎访问嘉事国润订单服务平台";
    Layout = "~/Views/Shared/EmptyView.cshtml";
}
<script type="text/javascript">
    //$(document).ready(function () {
    //    var thisOS = navigator.platform;
    //    var os = new Array("iPhone", "iPod", "iPad", "android", "Nokia", "SymbianOS", "Symbian", "Windows Phone", "Phone", "Linux armv71", "MAUI", "UNTRUSTED/1.0", "Windows CE", "BlackBerry", "IEMobile");
    //    for (var i = 0; i < os.length; i++) {
    //        if (thisOS.match(os[i])) {
    //            $("#smallscreen").val("1");
    //        }
    //    }
    //});
</script>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
        <img src="~/Imgs/ck1.jpg" style="width:100%;height:100%" />
    </div>
    <div class="col-sm-4">
        <span class="red">
            <i class="icon-eye-open"></i>
            <small>用账号登录，如没有请先注册！</small>
        </span>
        <hr />
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @*<input type="hidden" name="smallscreen" id="smallscreen" value="0"/>*@
                @*<h4>使用本地帐户登录。</h4>*@
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            @*<div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>*@
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="登录" class="btn btn-default" />
                        </div>
                    </div>
                    <hr />
                    <p>
                        @Html.ActionLink("注册为新用户", "Register")
                    </p>
                    @*<p>
                            在为密码重置功能启用帐户确认后启用此项
                            @Html.ActionLink("忘记了密码?", "ForgotPassword")
                        </p>*@
            }
        </section>
    </div>
    <div class="col-sm-2"></div>
    @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
</div>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
