@using GROBS.App_Code
@using GROBS.Models
@model ord_fahuodanViewModel
@{
    ViewBag.Title = "发货单修改";
}
<script type="text/javascript">
    $(document).ready(function () {
        //提交表单
        $("#save_top,#save_bottom").on("click", function () {
            $("#form").submit();
        });
        //时间控件
        $("#ChukuRQ").datepicker();
    });
</script>
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/ord_fahuodan">发货单</a>
        </li>
        <li class="active"> 编辑</li>
    </ul>
</div>

<div class="page-content">
    <div class="page-header">
        <button type="button" class="btn btn-app btn-xs btn-primary radius-4" onclick="javascript: history.back(-1); "><i class="icon-reply icon-only"></i><b>返回</b></button>
        <button type="button" id="save_top" class="btn btn-app btn-xs btn-primary radius-4"><i class="icon-save"></i><b>更新</b></button>
    </div>
    <div class="wrapper" style="background: url('/Imgs/bg-cloud.png') repeat;">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="widget-box radius-4">
                        <div class="widget-header">
                            <h4><b>发货单</b></h4>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main no-padding">
                                @using (Html.BeginForm("Update", "ord_fahuodan", FormMethod.Post, new { @role = "form", @class = "form-horizontal", @id = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" value="@ViewData.Model.ID" />
                                    <input type="hidden" id="MakeMan" name="MakeMan" value=@Session["user_id"] />
                                    <input type="hidden" name="MakeDate" value=@string.Format("{0:yyyy-MM-dd}",DateTime.Now) />
                                    <fieldset>
                                        @*发货单号*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="ChukudanBH"><b>发货单号</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ChukudanBH" id="ChukudanBH" class="form-control" placeholder="请填写发货单号" value="@ViewData.Model.ChukudanBH"/>
                                            </div>
                                        </div>
                                        @*销售单号*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="KehuDH"><b>销售单号</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="KehuDH" id="KehuDH" class="form-control" placeholder="请填写销售单号" value="@ViewData.Model.KehuDH"/>
                                            </div>
                                        </div>
                                        @*订单号*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="DDID"><b>订单号</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="DDID" id="DDID" class="form-control" placeholder="请填写订单号" value="@ViewData.Model.DDID"/>
                                            </div>
                                        </div>
                                        @*订单编号*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="DDBH"><b>订单编号</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="DDBH" id="DDBH" class="form-control" placeholder="请填写订单编号" value="@ViewData.Model.DDBH"/>
                                            </div>
                                        </div>
                                        @*运送地址*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="Yunsongdizhi"><b>运送地址</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="Yunsongdizhi" id="Yunsongdizhi" class="form-control" placeholder="请填写运送地址" value="@ViewData.Model.Yunsongdizhi"/>
                                            </div>
                                        </div>
                                        @*发货日期*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="ChukuRQ"><b>发货日期</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input id="ChukuRQ" name="ChukuRQ" class="form-control" value="@string.Format("{0:yyyy-MM-dd}",ViewData.Model.ChukuRQ)" type="date">
                                                    <span class="input-group-addon">
                                                        <i class="icon-calendar bigger-110"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        @*联系人*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="Lianxiren"><b>联系人</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="Lianxiren" id="Lianxiren" class="form-control" placeholder="请填写联系人" value="@ViewData.Model.Lianxiren"/>
                                            </div>
                                        </div>
                                        @*联系电话*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="LianxiDH"><b>联系电话</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="LianxiDH" id="LianxiDH" class="form-control" placeholder="请填写联系电话" value="@ViewData.Model.LianxiDH"/>
                                            </div>
                                        </div>
                                        @*备注*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="Beizhu"><b>备注</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="Beizhu" id="Beizhu" class="form-control" placeholder="请填写备注" value="@ViewData.Model.Beizhu"/>
                                            </div>
                                        </div>
                                        @*仓库代码*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="CKCode"><b>仓库代码</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="CKCode" id="CKCode" class="form-control" placeholder="请填写仓库代码" value="@ViewData.Model.CKCode"/>
                                            </div>
                                        </div>
                                        @*运送方式*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="YunsongFS"><b>运送方式</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="YunsongFS" id="YunsongFS" class="form-control" placeholder="请填写运送方式" value="@ViewData.Model.YunsongFS"/>
                                            </div>
                                        </div>
                                        @*快递单号*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="Kddanhao"><b>快递单号</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="Kddanhao" id="Kddanhao" class="form-control" placeholder="请填写快递单号" value="@ViewData.Model.Kddanhao"/>
                                            </div>
                                        </div>
                                        <div class="form-group" style="display:none;">
                                            @Html.LabelFor(m => m.Col1, new { @class = "control-label col-sm-2" })
                                            <div class="col-sm-10">
                                                @Html.TextBoxFor(m => m.Col1, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        @*录入日期*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="MakeDate"><b>录入日期</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input id="MakeDate" readonly class="form-control" value="@string.Format("{0:yyyy-MM-dd}",ViewData.Model.MakeDate)" type="text">
                                                    <span class="input-group-addon">
                                                        <i class="icon-calendar bigger-110"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        @*录入人*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="MakeMan"><b>录入人</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input placeholder="录入人" readonly class="form-control" type="text" value="@Html.GetDataValue_ID("userinfo", "全名", (int)(ViewData.Model.MakeMan == null ? 0 : ViewData.Model.MakeMan))">
                                                    <span class="input-group-addon">
                                                        <i class="icon-user bigger-110"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-actions center">
                                        <button id="save_bottom" class="btn btn-primary" type="button">
                                            <b>更新</b>
                                            <i class="icon-save bigger-110"></i>
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
