@using GROBS.App_Code
@using GROBS.Models
@model base_taobaoViewModel
@{ViewBag.Title = "套包添加";}

<script type="text/javascript">
    try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    $(document).ready(function () {
        //submit
        $("#save_top").bind("click", function () {
            $("#form").submit();
        });
        $("#save_bottom").bind("click", function () {
            $("#form").submit();
        });
        //'是否停用'绑定值
        $("#TingyongSF").val("true");//默认赋值
        $("#TingyongSF").change(function () {
            if ($("#TingyongSF").is(":checked")) {
                $("#TingyongSF").val("true");//选中=true
            } else {
                $("#TingyongSF").val("false");//不选中=false
            }
        });
        //'是否受控'绑定值
        $("#KongzhiSF").val("true");//默认赋值
        $("#KongzhiSF").change(function () {
            if ($("#KongzhiSF").is(":checked")) {
                $("#KongzhiSF").val("true");//选中=true
            } else {
                $("#KongzhiSF").val("false");//不选中=false
            }
        });
        /*
            销售单位
        */
        $("#container").draggable({ handle: '.tuodong' }, { containment: [-1000, 50, 1300, 600] });
        //click
        GetJldw();   //获取单位数据
        $("#btn_select").bind("click", function () {
            $("#container").show();
            //$("#pl_Cunchu .checkbox").prop("checked", false);
        });
        //弹框关闭
        $("#container_close").click(function () {
            $("#container").hide();
        });
        //确定添加
        $("#btn_confirm").click(function () {
            var _data = "";
            $("#table_data tr").each(function () {
                if ($(this).find("input[type=checkbox]").is(':checked')) {
                    _data = $(this).find(".mc").html();
                }
                $("#xsdw").val(_data);
            });
            $("#container").hide();
        });
        //单击tr打钩
        $("#table_data").on("click", "tr", function () {
            $("input[type=checkbox]").prop("checked", false);
            $(this).find(":checkbox").prop("checked", true);
        });
        //双击取值
        $("#table_data tbody").on("dblclick", "tr", function () {
            $("#xsdw").val($(this).find(".mc").html());
            $("#container").hide();
        });

        //供应商ID→产品线名称
        $("#GYSID").change(function () {
            var _gysid = $("#GYSID").val();
            if (_gysid == "") {
                $("#select_cpx").text("");
            } else {
                getCpx(_gysid);
            }
        });
    });
    function getCpx(gysid) {
        var _gysid = gysid;
        var filltable = '<option value="0"></option>';
        $.post(
            "/base_chanpinxian/GetCpxFromGysid",
            {
                cpxid: _gysid
            },
            function (data) {
                for (var i in data) {
                    filltable = filltable + '<option value="';
                    filltable = filltable + data[i].ID;
                    filltable = filltable + '">';
                    filltable = filltable + data[i].Mingcheng;
                    filltable = filltable + '</option>';
                }
                $("#select_cpx").html(filltable);
            });
    }
    function GetJldw() {
        var filltable = "";
        $.post(
            "/base_jiliangdw/GetJldw",
            {
            },
                function (data) {
                    for (var i in data) {
                        filltable = filltable + '<tr><td width="50px;"><label><input type="checkbox" class ="checkbox" value="';
                        filltable = filltable + data[i].ID;
                        filltable = filltable + '"></label></td><td width="30%;"><span class="bh">';
                        filltable = filltable + data[i].Bianhao;
                        filltable = filltable + '</span></td><td width="30%;"><span class="mc">';
                        filltable = filltable + data[i].Mingcheng;
                        filltable = filltable + '</span></td><td width="30%;">';
                        filltable = filltable + data[i].Miaoshu;
                        filltable = filltable + '</td></tr>';
                    }
                    $("#table_data tbody").html(filltable);
                });
    }
</script>
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/base_taobao">套包</a>
        </li>
        <li class="active"> 新增</li>
    </ul>
</div>

<div class="page-content">
    <div class="page-header">
        <button type="button" class="btn btn-app btn-xs btn-primary radius-4" onclick="javascript:history.back(-1); "><i class="icon-reply icon-only"></i><b>返回</b></button>
        <button type="button" id="save_top" class="btn btn-app btn-xs btn-primary radius-4">
            <i class="icon-save"></i><b>保存</b>
            <span class="badge badge-transparent">
                <i class="light-red icon-asterisk"></i>
            </span>
        </button>
    </div>
    <div class="wrapper" style="background: url('/Imgs/bg-cloud.png') repeat;">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="widget-box radius-4">
                        <div class="widget-header">
                            <h4><b>套包信息</b></h4>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main no-padding">
                                @using (Html.BeginForm("Save", "base_taobao", FormMethod.Post, new { @role = "form", @class = "form-horizontal", @id = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" />
                                    <input type="hidden" id="MakeMan" name="MakeMan" value=@Session["user_id"] />
                                    <fieldset>
                                        @*套包号*@
                                        <div class="form-group">
                                            <label for="Daima" class="col-sm-3 control-label"><i class="red glyphicon glyphicon-asterisk"></i> <b>套包号</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="Daima" name="Daima" class="form-control" placeholder="请输入套包号" />
                                            </div>
                                        </div>
                                        @*名称*@
                                        <div class="form-group">
                                            <label for="Mingcheng" class="col-sm-3 control-label"><i class="red glyphicon glyphicon-asterisk"></i> <b>名称</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="Mingcheng" name="Mingcheng" class="form-control" placeholder="请输入名称" />
                                            </div>
                                        </div>
                                        @*描述*@
                                        <div class="form-group">
                                            <label for="Miaoshu" class="col-sm-3 control-label"><b>描述</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="Miaoshu" name="Miaoshu" class="form-control" placeholder="请输入描述" />
                                            </div>
                                        </div>
                                        @*供应商*@
                                        <div class="form-group">
                                            <label for="GYSID" class="col-sm-3 control-label"><b>供应商</b></label>
                                            <div class="col-sm-8">
                                                @Html.SelectList_Auto("GYSID", "供应商","")
                                            </div>
                                        </div>
                                        @*产品线*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="CPXID"><b>产品线</b></label>
                                            <div class="col-sm-8">
                                                <select name="CPXID" id="select_cpx" style="width:100%;"></select>
                                            </div>
                                        </div>
                                        @*产品线
                                        <div class="form-group">
                                            <label for="CPXID" class="col-sm-3 control-label"><b>产品线</b></label>
                                            <div class="col-sm-8">
                                                @Html.SelectList_Auto("CPXID", "产品线", "")
                                            </div>
                                        </div>*@
                                        @*销售价*@
                                        <div class="form-group">
                                            <label for="JiaXS" class="col-sm-3 control-label"><b>销售价</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="JiaXS" readonly name="JiaXS" class="form-control" placeholder="不可输入" />
                                            </div>
                                        </div>
                                        @*采购价*@
                                        <div class="form-group">
                                            <label for="JiaCG" class="col-sm-3 control-label"><b>采购价</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="JiaCG" readonly name="JiaCG" class="form-control" placeholder="不可输入" />
                                            </div>
                                        </div>
                                        @*销售单位*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="xsdw"><b>销售单位</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input id="xsdw" name="xsdw" placeholder="请选择销售单位" class="form-control" type="text">
                                                    <span class="input-group-btn">
                                                        <button type="button" id="btn_select" class="btn btn-primary btn-sm">
                                                            选择
                                                            <i class="icon-hand-up icon-on-right bigger-110"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        @*是否停用*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="TingyongSF"><b>是否停用</b></label>
                                            <div class="col-sm-4">
                                                <label class="control-group">
                                                    <input name="TingyongSF" id="TingyongSF" class="ace ace-switch ace-switch-7" checked="checked" type="checkbox">
                                                    <span class="lbl"></span>
                                                </label>
                                            </div>
                                        </div>
                                        @*是否受控*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="KongzhiSF"><b>是否受控</b></label>
                                            <div class="col-sm-4">
                                                <label class="control-group">
                                                    <input name="KongzhiSF" id="KongzhiSF" class="ace ace-switch ace-switch-7" checked="checked" type="checkbox">
                                                    <span class="lbl"></span>
                                                </label>
                                            </div>
                                        </div>
                                        @*Col1*@
                                        <div class="form-group" style="display:none;">
                                            <label for="Col1" class="col-sm-3 control-label"><b>Col1</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="Col1" name="Col1" class="form-control" placeholder="请输入Col1" />
                                            </div>
                                        </div>
                                        @*录入日期*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="MakeDate"><b>录入日期</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input name="MakeDate" id="MakeDate" disabled="disabled" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="text">
                                                    <span class="input-group-addon">
                                                        <i class="icon-calendar bigger-110"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        @*录入人*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="MakeMan"><b>录入人</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input placeholder="录入人" disabled="disabled" class="form-control" type="text" value="@Html.GetDataValue_ID("userinfo", "全名", (int)ViewBag.userid)">
                                                    <span class="input-group-addon">
                                                        <i class="icon-user bigger-110"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-actions center">
                                        <button id="save_bottom" class="btn btn-primary" type="button">
                                            <b>保存</b>
                                            <i class="icon-save bigger-110"></i>
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*销售单位弹框*@
<div id="container" class="panel panel-primary " style="display:none;position:fixed;top:100px;left:250px;width:400px;height:500px;z-index:99999;">
    <div class="panel-heading tuodong">
        <h3 class="panel-title"><b>销售单位</b><button id="container_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <button type="button" class="btn btn-primary " id="btn_confirm">
            <i class="icon-pencil bigger-120"></i>
            <b>添加</b>
        </button>
        <div class="center">
            <table class="table table-hover" id="table_data" style="margin-top:10px;">
                <caption></caption>
                <thead style="display:block">
                    <tr>
                        <td width="50px;"></td>
                        <td width="30%;">编号</td>
                        <td width="30%;">名称</td>
                        <td width="30%;">说明</td>
                    </tr>
                </thead>
                <tbody style="display:block; max-height:380px;overflow:auto;"></tbody>
            </table>
        </div>
    </div>
</div>