@using GROBS.App_Code
@using GROBS.Models
@model base_taobaoViewModel
@{
    ViewBag.Title = "套包修改";
}

<script type="text/javascript">
    try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    $(document).ready(function () {
        //submit
        $("#save_top").bind("click", function () {
            $("#form").submit();
        });
        $("#save_bottom").bind("click", function () {
            $("#form").submit();
        });
        //'是否停用'绑定值
        $("#TingyongSF").change(function () {
            if ($("#TingyongSF").is(":checked")) {
                $("#TingyongSF").val("true");//选中=true
            } else {
                $("#TingyongSF").val("false");//不选中=false
            }
        });
        //'是否停用'赋值
        var TingyongSF = "@Model.TingyongSF";
        if (TingyongSF == "True") {
            $("#TingyongSF").attr("checked", true);
            $("#TingyongSF").val("true");
        } else {
            $("#TingyongSF").attr("checked", false);
            $("#TingyongSF").val("false");
        }
    });
</script>
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/base_taobao">套包</a>
        </li>
        <li class="active"> 编辑</li>
    </ul>
</div>

<div class="page-content">
    <div class="page-header">
        <button type="button" class="btn btn-app btn-xs btn-primary radius-4" onclick="javascript: history.back(-1); "><i class="icon-reply icon-only"></i><b>返回</b></button>
        <button type="button" id="save_top" class="btn btn-app btn-xs btn-primary radius-4"><i class="icon-save"></i><b>更新</b></button>
    </div>
    <div class="wrapper" style="background: url('/Imgs/bg-cloud.png') repeat;">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="widget-box radius-4">
                        <div class="widget-header">
                            <h4><b>套包信息</b></h4>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main no-padding">
                                @using (Html.BeginForm("Update", "base_taobao", FormMethod.Post, new { @role = "form", @class = "form-horizontal", @id = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" value="@ViewData.Model.ID" />
                                    <input type="hidden" id="MakeMan" name="MakeMan" value=@Session["user_id"] />
                                    <input type="hidden" name="MakeDate" value=@string.Format("{0:yyyy-MM-dd}",DateTime.Now) />
                                    <fieldset>
                                        @*代码*@
                                        <div class="form-group">
                                            <label for="Daima" class="col-sm-3 control-label"><i class="red glyphicon glyphicon-asterisk"></i> <b>代码</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="Daima" name="Daima" class="form-control" placeholder="请输入代码" value="@ViewData.Model.Daima"/>
                                            </div>
                                        </div>
                                        @*名称*@
                                        <div class="form-group">
                                            <label for="Mingcheng" class="col-sm-3 control-label"><i class="red glyphicon glyphicon-asterisk"></i> <b>名称</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="Mingcheng" name="Mingcheng" class="form-control" placeholder="请输入名称" value="@ViewData.Model.Mingcheng"/>
                                            </div>
                                        </div>
                                        @*描述*@
                                        <div class="form-group">
                                            <label for="Miaoshu" class="col-sm-3 control-label"><b>描述</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="Miaoshu" name="Miaoshu" class="form-control" placeholder="请输入描述" value="@ViewData.Model.Miaoshu"/>
                                            </div>
                                        </div>
                                        @*供应商*@
                                        <div class="form-group">
                                            <label for="GYSID" class="col-sm-3 control-label"><b>供应商</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="GYSID" name="GYSID" class="form-control" placeholder="请输入供应商" value="@ViewData.Model.GYSID" />
                                            </div>
                                        </div>
                                        @*产品线*@
                                        <div class="form-group">
                                            <label for="CPXID" class="col-sm-3 control-label"><b>产品线</b></label>
                                            <div class="col-sm-8">
                                                @Html.SelectList_Auto("CPXID", "产品线", "",(long)ViewData.Model.CPXID)
                                            </div>
                                        </div>
                                        @*销售价*@
                                        <div class="form-group">
                                            <label for="JiaXS" class="col-sm-3 control-label"><b>销售价</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="JiaXS" name="JiaXS" class="form-control" placeholder="请输入销售价" value="@ViewData.Model.JiaXS"/>
                                            </div>
                                        </div>
                                        @*采购价*@
                                        <div class="form-group">
                                            <label for="JiaCG" class="col-sm-3 control-label"><b>采购价</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="JiaCG" name="JiaCG" class="form-control" placeholder="请输入采购价" value="@ViewData.Model.JiaCG"/>
                                            </div>
                                        </div>
                                        @*销售单位*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="XSDW"><b>销售单位</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input id="XSDW" name="XSDW" placeholder="请填写销售单位" class="form-control col-sm-10" type="text" value="@ViewData.Model.XSDW">
                                                    <span class="input-group-addon input-group-sm">个</span>
                                                </div>
                                            </div>
                                        </div>
                                        @*是否停用*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="TingyongSF"><b>是否停用</b></label>
                                            <div class="col-sm-4">
                                                <label class="control-group">
                                                    <input name="TingyongSF" id="TingyongSF" class="ace ace-switch ace-switch-7" checked="checked" type="checkbox">
                                                    <span class="lbl"></span>
                                                </label>
                                            </div>
                                        </div>
                                        @*Col1*@
                                        <div class="form-group" style="display:none;">
                                            <label for="Col1" class="col-sm-3 control-label"><b>Col1</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="Col1" name="Col1" class="form-control" placeholder="请输入Col1" />
                                            </div>
                                        </div>
                                        @*录入日期*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="MakeDate"><b>录入日期</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input id="MakeDate" disabled="disabled" class="form-control" value="@string.Format("{0:yyyy-MM-dd}",ViewData.Model.MakeDate)" type="text">
                                                    <span class="input-group-addon">
                                                        <i class="icon-calendar bigger-110"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        @*录入人*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="MakeMan"><b>录入人</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input placeholder="录入人" disabled="disabled" class="form-control" type="text" value="@Html.GetDataValue_ID("userinfo", "全名", (int)ViewData.Model.MakeMan)">
                                                    <span class="input-group-addon">
                                                        <i class="icon-user bigger-110"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-actions center">
                                        <button id="save_bottom" class="btn btn-primary" type="button">
                                            <b>更新</b>
                                            <i class="icon-save bigger-110"></i>
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
