    @using GROBS.App_Code
@using GROBS.Common
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit" />
    <title>@ViewBag.Title - 嘉事国润订单系统</title>
    <!-- basic styles -->

    <link rel="stylesheet"  href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/jquery-ui-1.10.3.full.min.css">
  


    @*new*@
    <link href="~/assets/css/base.css" rel="stylesheet" />
    <link href="~/assets/css/jsgr.css" rel="stylesheet" />

    <!--[if IE7]>F
      <link rel="stylesheet" href="~/assets/css/font-awesome-ie7.min.css" />
    <![endif]-->
    <!-- page specific plugin styles -->
    
    <link rel="stylesheet" href="~/assets/css/select2.css" />
    <link rel="stylesheet" href="~/Content/FrameworkList.css" />
    <!-- fonts -->
    @*@*<link rel='stylesheet' href='http://fonts.gmirror.org/css?family=Open+Sans:300,400,600&subset=latin,latin-ext'>
    <link rel='stylesheet' href='http://fonts.useso.com/css?family=Open+Sans:300,400,600&subset=latin,latin-ext'>*@
    <!-- ace styles -->

    <link rel="stylesheet" href="~/assets/css/ace.min.css">
    <link rel="stylesheet" href="~/assets/css/ace-rtl.min.css">
    <link rel="stylesheet" href="~/assets/css/ace-skins.min.css">

    <!--[if lt IE8]>
      <link rel="stylesheet" href="~/assets/css/ace-ie.min.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <script src="~/assets/js/jquery-2.0.3.min.js"></script>
    @*<script src="~/assets/js/jquery.validate.min.js"></script>*@
    <!--script src="~/assets/js/jquery-1.10.2.min.js"></script-->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- ace settings handler -->

    <script src="~/assets/js/ace-extra.min.js"></script>

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/davisfunction.js"></script>
    <script src="~/Scripts/jquery.ui.datepicker-zh.js"></script>
    <script src="~/Content/js/Common.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE9]>
    <script src="~/assets/js/html5shiv.js"></script>
    <script src="~/assets/js/respond.min.js"></script>
    <![endif]-->
    @*<style type="text/css">
        .davis-container {
            max-width: 1500px;
            margin-left: auto;
            margin-right: auto;
        } navbar-fixed-top u-navbar
    </style>*@
</head>
<body>
    <!--头部导航栏-->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xs-6" style="padding-left:0">
                    <div class="logo">
                        <img src="~/Imgs/carousel/logo.png" alt="嘉事国润">
                    </div>
                </div>
                <div class="col-lg-6 col-xs-6" style="padding-left:0 ;padding-right:0">
                    <div class="list">
                        <ul>
                            <li><a href="/home/about">关于我们</a></li>
                            <li><a href="/ord_fanli/customerprofit">返利</a></li>
                            <li><a href="/ord_jixiao/customertargetNow">目标</a></li>
                            <li><a href="/ord_dingdan/customercurrentorder">采购单</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </header>

   
    @RenderBody()
    @*<hr />
    <footer>
        <p>&copy; @DateTime.Now.Year 嘉事国润</p>
    </footer>*@
    @PageMenu.Clear()
    @*<div class="page-content" style="background:inherit;">
        <div class="container">
                
        </div>
    </div>*@


    <!-- basic scripts -->
    <!--[if !IE]> -->
    <!--script-- type="text/javascript">
        window.jQuery || document.write("<script src='~/assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
    </!--script-->
    <!-- <![endif]-->
    <!--[if IE]>
    <script type="text/javascript">
     window.jQuery || document.write("<script src='~/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
        </script>
    <![endif]-->
    <!--script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='~/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </!--script-->
    <script src="~/assets/js/typeahead-bs2.min.js"></script>

    <!-- page specific plugin scripts -->
    <!--[if lte IE 8]>
          <script src="assets/js/excanvas.min.js"></script>
        <![endif]-->
    <script src="~/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="~/assets/js/jquery-ui-1.10.3.full.min.js"></script>
    <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/assets/js/jquery.slimscroll.min.js"></script>
    <script src="~/assets/js/fuelux/data/fuelux.tree-sampledata.js"></script>
    <script src="~/assets/js/fuelux/fuelux.tree.min.js"></script>

    <!-- ace scripts -->

    <script src="~/assets/js/ace-elements.min.js"></script>
    <script src="~/assets/js/ace.min.js"></script>

     @*new*@
    <script src="~/assets/js/jsgr.js"></script>
    

    <!-- inline scripts related to this page -->




    @RenderSection("scripts", required: false)
</body>
</html>

