@using GROBS.App_Code
@using GROBS.Models
@model ord_dingdanViewModel
@{ViewBag.Title = "订单添加";}

<script type="text/javascript">
    try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    $(document).ready(function () {
        //submit
        $("#save_top").bind("click", function () {
            $("#form").submit();
        });
        $("#save_bottom").bind("click", function () {
            $("#form").submit();
        });
        //时间
        $("#XiadanRQ").datepicker();
        //'审核通过'绑定值
        $("#ShenheTG").val("true");//默认赋值
        $("#ShenheTG").change(function () {
            if ($("#ShenheTG").is(":checked")) {
                $("#ShenheTG").val("true");//选中=true
            } else {
                $("#ShenheTG").val("false");//不选中=false
            }
        });
        //'是否控制'绑定值
        $("#JieshuSF").val("true");//默认赋值
        $("#JieshuSF").change(function () {
            if ($("#JieshuSF").is(":checked")) {
                $("#JieshuSF").val("true");//选中=true
            } else {
                $("#JieshuSF").val("false");//不选中=false
            }
        });
        /*
            经销商客户选择
        */
        $("#containerJxs").draggable({ handle: ".panel-heading" }, { containment: [-1000, 50, 1300, 600] });
        //弹框
        $("#btn_select").click(function () {
            $("#containerJxs").show();
            getCust();//初始化经销商
        });
        //关闭
        $("#container_close").click(function () {
            $("#containerJxs").hide();
        });
        //添加
        $("#btn_confirm").click(function () {
            var selrow = false;
            $("#table_data tr").each(function () {
                if ($(this).find("input[type=checkbox]").is(':checked')) {
                    selrow = true;
                    $("#jxsid").val($(this).find(".checkbox").val());
                    $("#khname").val($(this).find(".Mingcheng").html());
                }
            });
            if (selrow == false)
                alert("请选择客户后再确定！");
            else
                $("#containerJxs").hide();
        });
        //经销商查询
        $("#jxs_search").on("click", function () {
            $("#table_data tbody").html("");
            getCust();
        });
        //单击tr打钩
        $("#table_data").on("click", "tr", function (e) {
            if (e.target.tagName == "TD" || e.target.tagName == "SPAN") {
                if ($(this).find("input[type=checkbox]").is(':checked')) {
                    $(this).find(":checkbox").prop("checked", false);
                } else {
                    $("input[type=checkbox]").prop("checked", false);
                    $(this).find(":checkbox").prop("checked", true);
                }
            }
        });
        //双击取值
        $("#table_data tbody").on("dblclick", "tr", function () {
            $("#khname").val($(this).find(".Mingcheng").html());
            $("#jxsid").val($(this).find(".checkbox").val());
            $("#Lianxiren").val($(this).find(".lianxiren").html());
            $("#LianxiDH").val($(this).find(".lianxidianhua").html());
            $("#SonghuoDZ").val($(this).find(".songhuodizhi").html());
            $("#containerJxs").hide();
        });
    });
    //记录选过的信息
    function markSelect() {
        $("#containerJxs tbody tr").each(function () {
            if ($("#jxsid").val() == $(this).find(".checkbox").val()) {
                $(this).find("input[type=checkbox]").prop("checked", true);
            }
        });
    }
    //获取经销商信息
    function getCust() {
        var filltable = "";
        $.ajax({
            async: true,
            beforeSend: function () {
                ShowWait();
            },
            complete: function () {
                HiddenWait();
            },
            type: "POST",
            url: "/base_shouhuodanwei/getJxsWithQuery",
            data: {
                req_jxs: $("#req_jxs").val(),
                req_lianxiren: $("#req_lianxiren").val(),
                req_shdz: $("#req_shdz").val()
            },
            success: function (data) {
                var filltable = "";
                if (data != -1) {
                    for (var i in data) {
                        filltable = filltable + '<tr><td><input type="checkbox" class ="checkbox" value="';
                        filltable = filltable + data[i].ID;
                        filltable = filltable + '"/></td><td>';
                        filltable = filltable + data[i].KehuDM;
                        filltable = filltable + '</td><td><span class="Mingcheng">';
                        filltable = filltable + data[i].Mingcheng;
                        filltable = filltable + '</span></td><td><span class = "lianxiren">';
                        filltable = filltable + data[i].Lianxiren;
                        filltable = filltable + '</span></td><td><span class = "lianxidianhua">';
                        filltable = filltable + data[i].LianxiDH;
                        filltable = filltable + '</span></td><td><span class = "songhuodizhi">';
                        filltable = filltable + data[i].SonghuoDZ;
                        filltable = filltable + '</span></td><tr>';
                    }
                }
                else {
                    alert("获取客户信息出错，请联系管理员！");
                }
                $("#table_data tbody").html(filltable);
                markSelect();//记录选过的信息
            }
        });
    }
</script>
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/ord_dingdan">订单</a>
        </li>
        <li class="active"> 新增</li>
    </ul>
</div>
<div id="loading"><img src="~/Imgs/wait.gif" alt="" />...系统正在加载数据,请耐心等待...</div>
<div class="page-content">
<div class="page-header">
    <button type="button" class="btn btn-app btn-xs btn-primary radius-4" onclick="javascript:history.back(-1); "><i class="icon-reply icon-only"></i><b>返回</b></button>
    <button type="button" id="save_top" class="btn btn-app btn-xs btn-primary radius-4">
        <i class="icon-save"></i><b>保存</b>
        <span class="badge badge-transparent">
            <i class="light-red icon-asterisk"></i>
        </span>
    </button>
</div>

<div class="wrapper" style="background: url('/Imgs/bg-cloud.png') repeat;">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="widget-box radius-4">
                    <div class="widget-header">
                        <h4><b>订单信息</b></h4>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main no-padding">
                                @using (Html.BeginForm("Save", "ord_dingdan", FormMethod.Post, new { @role = "form", @class = "form-horizontal", @id = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" />
                                    <input type="hidden" id="MakeMan" name="MakeMan" value=@Session["user_id"] />
                                    <input type="hidden" id="jxsid" name="KHID" />
                                    <fieldset>
                                       @*编号*@
                                        <div class="form-group">
                                            <label for="Bianhao" class="col-sm-3 control-label"><i class="red glyphicon glyphicon-asterisk"></i> <b>编号</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="Bianhao" name="Bianhao" readonly class="form-control" placeholder="自动生成编号" />
                                            </div>
                                        </div>
                                        @*客户*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><i class="red glyphicon glyphicon-asterisk"></i> <b>客户</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input id="khname" placeholder="请选择客户" class="form-control" type="text">
                                                    <span class="input-group-btn">
                                                        <button type="button" id="btn_select" class="btn btn-primary btn-sm">
                                                            选择
                                                            <i class="icon-hand-up icon-on-right bigger-110"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        @*产品线*@
                                        <div class="form-group">
                                            <label for="CPXID" class="col-sm-3 control-label"><b>产品线</b></label>
                                            <div class="col-sm-8">
                                                @Html.SelectList_Auto("CPXID", "产品线", "")
                                            </div>
                                        </div>
                                        @*采购类型*@
                                        <div class="form-group">
                                            <label for="CGLX" class="col-sm-3 control-label"><b>采购类型</b></label>
                                            <div class="col-sm-8">
                                                @Html.SelectList_Common("CGLX", "订单类型")
                                            </div>
                                        </div>
                                        @*客户单号*@
                                        <div class="form-group">
                                            <label for="KehuDH" class="col-sm-3 control-label"><b>客户单号</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="KehuDH" name="KehuDH" class="form-control" placeholder="请输入客户单号" />
                                            </div>
                                        </div>
                                        @*下单日期*@
                                        <div class="form-group">
                                            <label for="XiadanRQ" class="col-sm-3 control-label"><b>下单日期</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input id="XiadanRQ" name="XiadanRQ" placeholder="请填写下单日期" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date">
                                                    <span class="input-group-addon">
                                                        <i class="icon-calendar bigger-110"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        @*联系人*@
                                        <div class="form-group">
                                            <label for="Lianxiren" class="col-sm-3 control-label"><b>联系人</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="Lianxiren" name="Lianxiren"  class="form-control" placeholder="请输入联系人" />
                                            </div>
                                        </div>
                                        @*联系电话*@
                                        <div class="form-group">
                                            <label for="LianxiDH" class="col-sm-3 control-label"><b>联系电话</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="LianxiDH" name="LianxiDH" class="form-control" placeholder="请输入联系电话" />
                                            </div>
                                        </div>
                                        @*送货地址*@
                                        <div class="form-group">
                                            <label for="SonghuoDZ" class="col-sm-3 control-label"><b>送货地址</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="SonghuoDZ" name="SonghuoDZ" class="form-control" placeholder="请输入送货地址" />
                                            </div>
                                        </div>
                                        @*客服人员*@
                                        <div class="form-group">
                                            <label for="OPID" class="col-sm-3 control-label"><b>客服人员</b></label>
                                            <div class="col-sm-8">
                                                @Html.SelectList_Auto("OPID", "userinfo", "")
                                            </div>
                                        </div>
                                        @*审核人员*@
                                        <div class="form-group">
                                            <label for="ACCID" class="col-sm-3 control-label"><b>审核人员</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="ACCID" name="ACCID" class="form-control" placeholder="请输入审核人员" />
                                            </div>
                                        </div>
                                        @*审核通过*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="ShenheTG"><b>审核通过</b></label>
                                            <div class="col-sm-4">
                                                <label class="control-group">
                                                    <input name="ShenheTG" id="ShenheTG" disabled class="ace ace-switch ace-switch-7" checked="checked" type="checkbox">
                                                    <span class="lbl"></span>
                                                </label>
                                            </div>
                                        </div>
                                        @*采购总数*@
                                        <div class="form-group">
                                            <label for="ZongshuCG" class="col-sm-3 control-label"><b>采购总数</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="ZongshuCG" name="ZongshuCG" class="form-control" placeholder="请输入采购总数" />
                                            </div>
                                        </div>
                                        @*总金额*@
                                        <div class="form-group">
                                            <label for="Zongjine" class="col-sm-3 control-label"><b>总金额</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="Zongjine" name="Zongjine" class="form-control" placeholder="请输入总金额" />
                                            </div>
                                        </div>
                                        @*是否控制*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="JieshuSF"><b>是否控制</b></label>
                                            <div class="col-sm-4">
                                                <label class="control-group">
                                                    <input name="JieshuSF" id="JieshuSF" class="ace ace-switch  ace-switch-7" checked="checked" type="checkbox">
                                                    <span class="lbl"></span>
                                                </label>
                                            </div>
                                        </div>
                                        @*状态*@
                                        <div class="form-group">
                                            <label for="Zhuangtai" class="col-sm-3 control-label"><b>状态</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="Zongjine" name="Zhuangtai" class="form-control" placeholder="请输入状态" />
                                            </div>
                                        </div>
                                        @*备注*@
                                        <div class="form-group">
                                            <label for="Beizhu" class="col-sm-3 control-label"><b>备注</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="Beizhu" name="Beizhu" class="form-control" placeholder="请输入备注" />
                                            </div>
                                        </div>
                                        <div class="form-group" style="display:none;">
                                            @Html.LabelFor(m => m.Col1, new { @class = "control-label col-sm-2" })
                                            <div class="col-sm-10">
                                                @Html.TextBoxFor(m => m.Col1, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group" style="display:none;">
                                            @Html.LabelFor(m => m.Col2, new { @class = "control-label col-sm-2" })
                                            <div class="col-sm-10">
                                                @Html.TextBoxFor(m => m.Col2, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group" style="display:none;">
                                            @Html.LabelFor(m => m.Col3, new { @class = "control-label col-sm-2" })
                                            <div class="col-sm-10">
                                                @Html.TextBoxFor(m => m.Col3, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        @*录入日期*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="MakeDate"><b>录入日期</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input name="MakeDate" id="MakeDate" disabled="disabled" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="text">
                                                    <span class="input-group-addon">
                                                        <i class="icon-calendar bigger-110"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        @*录入人*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="MakeMan"><b>录入人</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input placeholder="录入人" disabled="disabled" class="form-control" type="text" value="@Html.GetDataValue_ID("userinfo", "全名", (int)ViewBag.userid)">
                                                    <span class="input-group-addon">
                                                        <i class="icon-user bigger-110"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-actions center">
                                        <button id="save_bottom" class="btn btn-primary" type="button">
                                            <b>保存</b>
                                            <i class="icon-save bigger-110"></i>
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="containerJxs" class="panel panel-primary" style="display:none;position:fixed;top:100px;left:250px;width:1000px;min-height:330px;z-index:99;">
    <div class="panel-heading">
        <h3 class="panel-title"><b>经销商</b><button id="container_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    @*查询条件*@
                    <div class="row">
                        <div class="col-sm-12">
                            <div style="border:1px solid #DDD;padding-top:10px;border-radius:4px;">
                                <div class="row">
                                    @*经销商*@
                                    <div class="form-group col-sm-4">
                                        <label for="req_jxs" class="col-sm-3 control-label"><b>经销商</b></label>
                                        <div class="col-sm-8">
                                            <input type="text" id="req_jxs" class="form-control" placeholder="请输入经销商名称" />
                                        </div>
                                    </div>
                                    @*联系人*@
                                    <div class="form-group col-sm-4">
                                        <label for="req_lianxiren" class="col-sm-3 control-label"><b>联系人</b></label>
                                        <div class="col-sm-8">
                                            <input type="text" id="req_lianxiren" class="form-control" placeholder="请输入联系人" />
                                        </div>
                                    </div>
                                    @*送货地址*@
                                    <div class="form-group col-sm-4">
                                        <label for="req_shdz" class="col-sm-3 control-label"><b>地址</b></label>
                                        <div class="col-sm-8">
                                            <input type="text" id="req_shdz" class="form-control" placeholder="请输入送货地址" />
                                        </div>
                                    </div>
                                </div>
                                @*按钮*@
                                <div class="row">
                                    <div class="form-group col-sm-4 col-sm-offset-4">
                                        <button type="button" id="jxs_search" class="btn btn-block " style="background-color:#56b18e!important;border:none;border-radius:6px;">
                                            <span style="font-size:16px!important;">查询</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            @*列表*@
                            <div class="row">
                                <div class="col-sm-12">
                                    <div style="margin-top:10px;max-height:400px;overflow:auto;">
                                        <table class="table table-hover" id="table_data">
                                            <caption></caption>
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>编号</th>
                                                    <th>名称</th>
                                                    <th>联系人</th>
                                                    <th>联系电话</th>
                                                    <th>地址</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>