@using GROBS.App_Code
@using GROBS.Models
@using X.PagedList
@using X.PagedList.Mvc
@{
    ViewBag.Title = "历史采购单";
    string _searchcondition = ViewBag.SearchCondition;
    Layout = "~/Views/Shared/_LayoutCustomer02.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("tr").bind("dblclick", function () {
            var u_id = $(this).find('td').eq(0).find('input').val();
            if (u_id != null) {
                var url_go = "/ord_dingdan/Edit/" + u_id;
                location.href = url_go;
            }
        });
    });
    function AddInfo() {
        location.href = "/ord_dingdan/Add";
    }
    function EditInfo() {
        $("#mydatatable tr input[type=checkbox]").each(function () {
            if (this.checked)
                location.href = "/ord_dingdan/Edit/" + $(this).val();
        });
    }
    function DelInfo() {
        var sDel = "";
        $("#mydatatable tr input[type=checkbox]").each(function () {
            if (this.checked)
                sDel = sDel + ", " + $(this).val()
        });
        if (sDel.length < 2)
            return;
        var url_go = "/ord_dingdan/Delete/?del=" + sDel;
        location.href = url_go;
    }



</script>


@{
    List<SearchConditionModel> scms = new List<SearchConditionModel>();
    if (_searchcondition == null || _searchcondition == "")
    {
        SearchConditionModel scm = new SearchConditionModel();
        scm.ItemCode = "Bianhao";
        scm.ItemTitle = "编号";
        scm.ItemType = "System.String";
        scms.Add(scm);

        scm = new SearchConditionModel();
        scm.ItemCode = "Zhuangtai";
        scm.ItemTitle = "订单状态";
        scm.ItemType = "订单状态.订单状态";
        scms.Add(scm);

        scm = new SearchConditionModel();
        scm.ItemCode = "Mingcheng";
        scm.ItemTitle = "产品线";
        scm.ItemType = "产品线.产品线（历史）";
        scms.Add(scm);

        scm = new SearchConditionModel();
        scm.ItemCode = "CGLX";
        scm.ItemTitle = "订单类型";
        scm.ItemType = "订单类型.订单类型";
        scms.Add(scm);

        scm = new SearchConditionModel();
        scm.ItemCode = "KehuDH";
        scm.ItemTitle = "客户单号";
        scm.ItemType = "System.String";
        scms.Add(scm);

        scm = new SearchConditionModel();
        scm.ItemCode = "XiadanRQ";
        scm.ItemTitle = "下单日期";
        scm.ItemType = "System.DateTime";
        scms.Add(scm);

    }
    else
    {
        string[] scs = _searchcondition.Split(';');
        if (scs.Length > 0)
        {
            SearchConditionModel scm = new SearchConditionModel();
            scm.ItemCode = "Bianhao";
            scm.ItemTitle = "编号";
            scm.ItemType = "System.String";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[0].Split(',')[1];
                scm.ItemOpValue = scs[0].Split(',')[2];
                scm.ItemJion = scs[0].Split(',')[3];
            }
            scms.Add(scm);

            scm = new SearchConditionModel();
            scm.ItemCode = "Zhuangtai";
            scm.ItemTitle = "订单状态";
            scm.ItemType = "订单状态.订单状态";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[1].Split(',')[1];
                if (scm.ItemValue.Length == 0)
                {
                    scm.ItemValue = "0";
                }
                scm.ItemOpValue = scs[1].Split(',')[2];
                scm.ItemJion = scs[1].Split(',')[3];
            }
            scms.Add(scm);

            scm = new SearchConditionModel();
            scm.ItemCode = "Mingcheng";
            scm.ItemTitle = "产品线";
            scm.ItemType = "产品线.产品线（历史）";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[2].Split(',')[1];
                if (scm.ItemValue.Length == 0)
                {
                    scm.ItemValue = "0";
                }
                scm.ItemOpValue = scs[2].Split(',')[2];
                scm.ItemJion = scs[2].Split(',')[3];
            }
            scms.Add(scm);


            scm = new SearchConditionModel();
            scm.ItemCode = "CGLX";
            scm.ItemTitle = "订单类型";
            scm.ItemType = "订单类型.订单类型";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[3].Split(',')[1];
                if (scm.ItemValue.Length == 0)
                {
                    scm.ItemValue = "0";
                }
                scm.ItemOpValue = scs[3].Split(',')[2];
                scm.ItemJion = scs[3].Split(',')[3];
            }
            scms.Add(scm);

            scm = new SearchConditionModel();
            scm.ItemCode = "KehuDH";
            scm.ItemTitle = "客户单号";
            scm.ItemType = "System.String";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[4].Split(',')[1];
                scm.ItemOpValue = scs[4].Split(',')[2];
                scm.ItemJion = scs[4].Split(',')[3];
            }
            scms.Add(scm);

            scm = new SearchConditionModel();
            scm.ItemCode = "XiadanRQ";
            scm.ItemTitle = "下单日期";
            scm.ItemType = "System.DateTime";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[0].Split(',')[1];
                scm.ItemOpValue = scs[0].Split(',')[2];
                scm.ItemJion = scs[0].Split(',')[3];
            }
            scms.Add(scm);
        }
    }
}

<div class="page-content">
    @Html.Search_Condition((int)Session["user_id"], "采购单历史_条件组合查询", "/ord_dingdan/customerorderlist", "ord_dingdan_customerorderlist", scms)
    <div class="page-header">
        <p class="align-center">
            <button type="button" class="btn btn-primary btn-xs btn-app radius-4" id="bt_searchInfo" data-toggle="modal" data-target="#myModal"><i class="icon-search"></i>查询</button>
            <button type="button" class="btn btn-primary btn-xs btn-app radius-4" id="bt_refreshInfo" onclick="javascript: location.reload()"><i class="icon-refresh"></i>刷新</button>
            <button type="button" class="btn btn-primary btn-xs btn-app radius-4" id="bt_export" onclick="javascript: window.open('/ord_dingdan/CustomerOrderListExportFile')"><i class="icon-inbox"></i>导出</button>
        </p>
    </div>
    <div class="row">
        <table class="table" id="mydatatable">
            <caption></caption>
            <thead>
                <tr>
                    <td></td>
                    <td>编号</td>
                    <td>状态</td>
                    <td>客户</td>
                    <td>产品线</td>
                    <td>采购类型</td>
                    <td>客户单号</td>
                    <td>下单日期</td>
                    <td>联系人</td>
                    <td>联系电话</td>
                    <td>送货地址</td>
                    <td>采购总数</td>
                    <td>总金额</td>
                    <td>折扣金额</td>
                    <td>实付金额</td>
                    <td>备注</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.ord_dingdan)
                {
                    <tr>
                        <td>
                            <label><input type="checkbox" value="@item.ID"></label>
                        </td>
                        <td><a href="/ord_dingdan/customerorderinfo/@item.ID">@item.Bianhao</a></td>
                        <td class="zhuangtai">@Html.GetCommonValue_ID("订单状态", (int)item.Zhuangtai)</td>
                        <td>@item.KehuMC</td>
                        <td>@item.Mingcheng</td>
                        <td>@Html.GetCommonValue_ID("订单类型", (int)item.CGLX)</td>
                        <td>@item.KehuDH</td>
                        <td>@string.Format("{0:yyyy-MM-dd}", item.XiadanRQ == null ? "" : item.XiadanRQ)</td>
                        <td>@item.Lianxiren</td>
                        <td>@item.LianxiDH</td>
                        <td>@item.SonghuoDZ</td>
                        <td>@item.ZongshuCG</td>
                        <td>@string.Format("{0:C}", item.Zongjine)</td>
                        <td>@string.Format("{0:C}", item.ZhekouJE == null ? 0 : item.ZhekouJE)</td>
                        <td>@string.Format("{0:C}", item.Zongjine - (item.ZhekouJE == null ? 0 : item.ZhekouJE))</td>
                        <td>@item.Beizhu</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="pager">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("CustomerOrderList", new { page }))
    </div>
</div>
