@using GROBS.App_Code
@using GROBS.Models
@using X.PagedList
@using X.PagedList.Mvc

@{
    ViewBag.Title = "采购单管理";
    Layout = "~/Views/Shared/_LayoutCustomer02.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("tr").bind("dblclick", function () {
            var u_id = $(this).find('td').eq(0).find('input').val();
            //if (u_id != null) {
            //    var url_go = "/ord_dingdan/Edit/" + u_id;
            //    location.href = url_go;
            //}
        });
        $("#bt_addInfo").click(function () {
            window.open("/ord_dingdan/customeradd", "_blank");
        });
        $("#bt_deleteInfo").click(function () {
            var sDel = "";
            $("#mydatatable tr input[type=checkbox]").each(function () {
                if (this.checked)
                    sDel = sDel + ", " + $(this).val()
            });
            if (sDel.length < 2)
                return;
            var url_go = "/ord_dingdan/Delete/?del=" + sDel;
            location.href = url_go;
        });
        $("#bt_historyInfo").click(function () {
            window.open("/ord_dingdan/customerorderlist", "_blank");
        });
        $("#bt_sendInfo").click(function () {
            window.open("/ord_xiaoshou/getsendlist", "_blank");
        });
    });
</script>

<div class="page-content">
    <div class="row">
        <p><i class="icon-home bigger-200 red"></i><span class="bigger-150 blue">@ViewBag.customername</span></p>
    </div>
    <div class="row">
        <p class="align-center">
            <button type="button" class="btn btn-primary btn-xs btn-app radius-4" id="bt_addInfo"><i class="icon-adn"></i>新增</button>
            <button type="button" class="btn btn-primary btn-xs btn-app radius-4" id="bt_deleteInfo"><i class="icon-remove"></i>删除</button>
            <button type="button" class="btn btn-primary btn-xs btn-app radius-5" id="bt_refreshInfo" onclick="javascript: location.reload()"><i class="icon-refresh"></i>刷新</button>
            <button type="button" class="btn btn-primary btn-xs btn-app radius-5" id="bt_historyInfo"><i class="icon-edit"></i>历史</button>
            <button type="button" class="btn btn-primary btn-xs btn-app radius-6" id="bt_sendInfo"><i class="icon-edit"></i>发货</button>
        </p>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="table-wapper-all">
                <div class="fixed-table-wapper">
                    <table class="table table-bordered table-condensed fixed-table-header"></table>
                </div>
                <div class="table-wapper">
                    <table class="table table-bordered table-condensed" id="mydatatable">
                        <caption><i class="icon-play-circle"></i>正在执行的订单</caption>
                        <thead>
                            <tr>
                                <td></td>
                                <td>编号</td>
                                <td>状态</td>
                                <td>产品线</td>
                                <td>采购类型</td>
                                <td>客户单号</td>
                                <td>下单日期</td>
                                <td>联系人</td>
                                <td>联系电话</td>
                                <td>送货地址</td>
                                <td>采购总数</td>
                                <td>总金额</td>
                                <td>备注</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.ord_dingdan)
                            {
                                <tr>
                                    <td>
                                        <label><input type="checkbox" value="@item.ID"></label>
                                    </td>
                                    <td>@item.Bianhao</td>
                                    <td>@item.Zhuangtai</td>
                                    <td>@item.CPXID</td>
                                    <td>@item.CGLX</td>
                                    <td>@item.KehuDH</td>
                                    <td>@item.XiadanRQ</td>
                                    <td>@item.Lianxiren</td>
                                    <td>@item.LianxiDH</td>
                                    <td>@item.SonghuoDZ</td>
                                    <td>@item.ZongshuCG</td>
                                    <td>@item.Zongjine</td>
                                    <td>@item.Beizhu</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

