@using GROBS.App_Code
@using GROBS.Models
@model ord_dingdanViewModel
@{
    ViewBag.Title = "订单修改";
}
<script type="text/javascript">
    try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    $(document).ready(function () {
        //submit
        $("#save_top").bind("click", function () {
            $("#form").submit();
        });
        $("#save_bottom").bind("click", function () {
            $("#form").submit();
        });
        //时间
        $("#XiadanRQ").datepicker();
        //'审核通过'绑定值
        $("#ShenheTG").val("true");//默认赋值
        $("#ShenheTG").change(function () {
            if ($("#ShenheTG").is(":checked")) {
                $("#ShenheTG").val("true");//选中=true
            } else {
                $("#ShenheTG").val("false");//不选中=false
            }
        });
        //'审核通过'赋值
        var ShenheTG = "@Model.ShenheTG";
        if (ShenheTG == "True") {
            $("#ShenheTG").attr("checked", true);
            $("#ShenheTG").val("true");
        } else {
            $("#ShenheTG").attr("checked", false);
            $("#ShenheTG").val("false");
        }
        //'是否控制'绑定值
        $("#JieshuSF").val("true");//默认赋值
        $("#JieshuSF").change(function () {
            if ($("#JieshuSF").is(":checked")) {
                $("#JieshuSF").val("true");//选中=true
            } else {
                $("#JieshuSF").val("false");//不选中=false
            }
        });
        //'是否控制'赋值
        var JieshuSF = "@Model.JieshuSF";
        if (JieshuSF == "True") {
            $("#JieshuSF").attr("checked", true);
            $("#JieshuSF").val("true");
        } else {
            $("#JieshuSF").attr("checked", false);
            $("#JieshuSF").val("false");
        }
        /*
            订单商品
        */
        getDingdanMingXi();//初始化订单明细
        //订单商品添加
        $("#btn_Add").click(function () {
            var ddid = $("#ddid").val();//订单ID
            var cpx = $("#CPXID").val();//产品线ID
            var cglx = $("#CGLX").val();//采购类型
            if (ddid == null || ddid == "") {
                alert("系统错误，请于管理员联系!");
            } else if (cglx == null || cglx == "" || cglx == "0") {
                alert("采购类型不可为空");
            } else if (cpx == null || cpx == "") {
                alert("产品线不可为空");
            } else {
                window.open("/ord_dingdanmx/Add?ddid=" + ddid + "&" + "cpx=" + cpx + "&" + "cglx=" + cglx, "_self"); 
            }
        });
        //订单商品编辑
        $("#btn_Edit").on("click", function () {
            var cpx = $("#CPXID").val();//产品线ID
            var cglx = $("#CGLX").val();//采购类型
            var itemLength = $("#container_ddmx input[type = checkbox]:checked").length;
            if (itemLength > 1) {
                alert("您只能选取一个进行编辑。");
            } else if (itemLength == 0) {
                alert("您还未选择商品");
            } else if (cglx == null || cglx == "" || cglx == "0") {
                alert("采购类型不可为空");
            } else if (cpx == null || cpx == "") {
                alert("产品线不可为空");
            } else {
                $("#container_ddmx tr input[type=checkbox]").each(function () {
                    if (this.checked) {
                        if ($(this).val() != null && $(this).val() != "") {
                            window.open("/ord_dingdanmx/Edit/" + $(this).val() + "?" + "cpx=" + cpx + "&" + "cglx=" + cglx, "_self");
                        }
                    }
                });
            }
        });
        //订单商品删除
        $("#btn_Del").on("click", function () {
            var ddspItem = "";
            $("#container_ddmx tr input[type = checkbox]").each(function () {
                if (this.checked) {
                    ddspItem = ddspItem + $(this).val() + ",";
                }
            });
            if (ddspItem.length > 0) {
                var isOk = confirm("确定要删除这些信息吗？");
                if (isOk) {
                    $.ajax({
                        async: true,
                        beforeSend: function () {
                            ShowWait();
                        },
                        complete: function () {
                            HiddenWait();
                        },
                        type: "POST",
                        url: "/ord_dingdanmx/DeleteFromDingdan",
                        data: {
                            del: ddspItem
                        },
                        success: function (data) {
                            if (data == 1) {
                                location.reload();
                            }
                        }
                    });
                }
            } else if (ddspItem.length == 0) {
                alert("您还未选择商品");
            }
        });
        /*
            经销商客户选择
        */
        $("#containerJxs").draggable({ handle: ".panel-heading" }, { containment: [-1000, 50, 1300, 600] });
        //弹框
        $("#btn_select").click(function () {
            $("#containerJxs").show();
            getCust();//初始化经销商
        });
        //关闭
        $("#container_close").click(function () {
            $("#containerJxs").hide();
        });
        //添加
        $("#btn_confirm").click(function () {
            var selrow = false;
            $("#table_data tr").each(function () {
                if ($(this).find("input[type=checkbox]").is(':checked')) {
                    selrow = true;
                    $("#jxsid").val($(this).find(".checkbox").val());
                    $("#khname").val($(this).find(".Mingcheng").html());
                }
            });
            if (selrow == false)
                alert("请选择客户后再确定！");
            else
                $("#containerJxs").hide();
        });
        //经销商查询
        $("#jxs_search").on("click", function () {
            $("#table_data tbody").html("");
            getCust();
        });
        //单击tr打钩
        $("#table_data").on("click", "tr", function (e) {
            if (e.target.tagName == "TD" || e.target.tagName == "SPAN") {
                if ($(this).find("input[type=checkbox]").is(':checked')) {
                    $(this).find(":checkbox").prop("checked", false);
                } else {
                    $("#table_data input[type=checkbox]").prop("checked", false);
                    $(this).find(":checkbox").prop("checked", true);
                }
            }
        });
        //双击取值
        $("#table_data tbody").on("dblclick", "tr", function () {
            $("#khname").val($(this).find(".Mingcheng").html());
            $("#jxsid").val($(this).find(".checkbox").val());
            $("#Lianxiren").val($(this).find(".lianxiren").html());
            $("#LianxiDH").val($(this).find(".lianxidianhua").html());
            $("#SonghuoDZ").val($(this).find(".songhuodizhi").html());
            $("#containerJxs").hide();
        });
    });
    //计算采购总数和总金额
    function calPriceAndTotal() {
        var sum_caigou = 0;
        var sum_jine = 0;
        $("#container_ddmx tbody tr").each(function () {
            var jine = $(this).find(".jine").html();
            var caigousl = $(this).find(".cgsl").html();
            if (jine != "" && jine != null) {
                sum_jine += parseFloat(jine);
            }
            if (caigousl != "" && caigousl != null) {
                sum_caigou += parseFloat(caigousl);
            }
        });
        $("#ZongshuCG").val(sum_caigou);
        $("#Zongjine").val(sum_jine);
    }
    function getDingdanMingXi() {
        var _ddid = $("#ddid").val();
        if (_ddid > 0) {
            $.ajax({
                async: true,
                beforeSend: function () {
                    ShowWait();
                },
                complete: function () {
                    HiddenWait();
                },
                type: "POST",
                url: "/ord_dingdanmx/getDingdanMingXiWithDDID",
                data: {
                    ddid: _ddid
                },
                success: function (data) {
                    var filltable = "";
                    if (data.length > 0) {
                        for (var i in data) {
                            filltable = filltable + '<tr><td><input type="checkbox" class ="checkbox" value="';
                            filltable = filltable + data[i].ID;
                            filltable = filltable + '"></td><td><span class="spmc">';
                            filltable = filltable + data[i].SPMC;
                            filltable = filltable + '</span></td><td><span class="guige">';
                            filltable = filltable + data[i].Guige;
                            filltable = filltable + '</span></td><td><span class="cgsl">';
                            filltable = filltable + data[i].CGSL;
                            filltable = filltable + '</span></td><td><span class="fhsl">';
                            filltable = filltable + data[i].FHSL;
                            filltable = filltable + '</span></td><td><span class="xsbj">';
                            filltable = filltable + data[i].XSBJ;
                            filltable = filltable + '</span></td><td><span class="xsdj">';
                            filltable = filltable + data[i].XSDJ;
                            filltable = filltable + '</span></td><td><span class="jine">';
                            filltable = filltable + data[i].Jine;
                            filltable = filltable + '</span></td><td><span class="zhekou">';
                            filltable = filltable + data[i].Zhekou;
                            filltable = filltable + '</span></td><td><span class="zhekoulv">';
                            filltable = filltable + data[i].Zhekoulv;
                            filltable = filltable + '</span></td></tr>';
                        }
                        $("#container_ddmx tbody").html(filltable);
                        calPriceAndTotal();//初始化总金额和总采购数
                    } else {
                        $("#container_ddmx tbody").empty();
                    }
                }

            });
        }
    }
    //记录选过的信息
    function markSelect() {
        $("#containerJxs tbody tr").each(function () {
            if ($("#jxsid").val() == $(this).find(".checkbox").val()) {
                $(this).find("input[type=checkbox]").prop("checked", true);
            }
        });
    }
    //获取经销商信息
    function getCust() {
        var filltable = "";
        $.ajax({
            async: true,
            beforeSend: function () {
                ShowWait();
            },
            complete: function () {
                HiddenWait();
            },
            type: "POST",
            url: "/base_shouhuodanwei/getJxsWithQuery",
            data: {
                req_jxs: $("#req_jxs").val(),
                req_lianxiren: $("#req_lianxiren").val(),
                req_shdz: $("#req_shdz").val()
            },
            success: function (data) {
                var filltable = "";
                if (data != -1) {
                    for (var i in data) {
                        filltable = filltable + '<tr><td><input type="checkbox" class ="checkbox" value="';
                        filltable = filltable + data[i].ID;
                        filltable = filltable + '"/></td><td>';
                        filltable = filltable + data[i].KehuDM;
                        filltable = filltable + '</td><td><span class="Mingcheng">';
                        filltable = filltable + data[i].Mingcheng;
                        if (data[i].ID == $("#jxsid").val()) {
                            $("#khname").val(data[i].Mingcheng)
                        }
                        filltable = filltable + '</span></td><td><span class = "lianxiren">';
                        filltable = filltable + data[i].Lianxiren;
                        if (data[i].Lianxiren == $("#Lianxiren").val()) {
                            $("#Lianxiren").val(data[i].Lianxiren)
                        }
                        filltable = filltable + '</span></td><td><span class = "lianxidianhua">';
                        filltable = filltable + data[i].LianxiDH;
                        if (data[i].LianxiDH == $("#LianxiDH").val()) {
                            $("#LianxiDH").val(data[i].LianxiDH)
                        }
                        filltable = filltable + '</span></td><td><span class = "songhuodizhi">';
                        filltable = filltable + data[i].SonghuoDZ;
                        if (data[i].SonghuoDZ == $("#SonghuoDZ").val()) {
                            $("#SonghuoDZ").val(data[i].SonghuoDZ)
                        }
                        filltable = filltable + '</span></td><tr>';
                    }
                }
                else {
                    alert("获取客户信息出错，请联系管理员！");
                }
                $("#table_data tbody").html(filltable);
                markSelect();//记录选过的信息
            }
        });
    }
</script>
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/ord_dingdan">订单</a>
        </li>
        <li class="active"> 编辑</li>
    </ul>
</div>
<div id="loading"><img src="~/Imgs/wait.gif" alt="" />...系统正在加载数据,请耐心等待...</div>
<div class="page-content">
    <div class="page-header">
        <button type="button" class="btn btn-app btn-xs btn-primary radius-4" onclick="javascript: history.back(-1); "><i class="icon-reply icon-only"></i><b>返回</b></button>
        <button type="button" id="save_top" class="btn btn-app btn-xs btn-primary radius-4"><i class="icon-save"></i><b>更新</b></button>
    </div>
    <div class="wrapper" style="background: url('/Imgs/bg-cloud.png') repeat;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1">
                    <div class="widget-box radius-4">
                        <div class="widget-header">
                            <h4><b>订单信息</b></h4>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main no-padding">
                                @using (Html.BeginForm("Update", "ord_dingdan", FormMethod.Post, new { @role = "form", @class = "form-horizontal", @id = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" id="ddid" name="id" value="@ViewData.Model.ID" />
                                    <input type="hidden" id="jxsid" name="KHID" value="@ViewData.Model.KHID" />
                                    <input type="hidden" id="MakeMan" name="MakeMan" value=@Session["user_id"] />
                                    <input type="hidden" name="MakeDate" value=@string.Format("{0:yyyy-MM-dd}",DateTime.Now) />
                                    <fieldset>
                                        @*编号*@
                                        <div class="form-group">
                                            <label for="Bianhao" class="col-sm-3 control-label"><i class="red glyphicon glyphicon-asterisk"></i> <b>编号</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="Bianhao" name="Bianhao" readonly class="form-control" placeholder="自动生成编号" value="@ViewData.Model.Bianhao" />
                                            </div>
                                        </div>
                                        @*客户*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><i class="red glyphicon glyphicon-asterisk"></i> <b>客户</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input id="khname" placeholder="请选择客户" class="form-control" type="text" value="@Html.GetDataValue_ID("收货单位", "", (int)ViewData.Model.KHID)">
                                                    <span class="input-group-btn">
                                                        <button type="button" id="btn_select" class="btn btn-primary btn-sm">
                                                            选择
                                                            <i class="icon-hand-up icon-on-right bigger-110"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        @*产品线*@
                                        <div class="form-group">
                                            <label for="CPXID" class="col-sm-3 control-label"><b>产品线</b></label>
                                            <div class="col-sm-8">
                                                @Html.SelectList_Auto("CPXID", "产品线", "", (long)ViewData.Model.CPXID)
                                            </div>
                                        </div>
                                        @*采购类型*@
                                        <div class="form-group">
                                            <label for="CGLX" class="col-sm-3 control-label"><b>采购类型</b></label>
                                            <div class="col-sm-8">
                                                @Html.SelectList_Common("CGLX", "订单类型",(long)ViewData.Model.CGLX)
                                            </div>
                                        </div>
                                        @*客户单号*@
                                        <div class="form-group">
                                            <label for="KehuDH" class="col-sm-3 control-label"><b>客户单号</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="KehuDH" name="KehuDH" class="form-control" placeholder="请输入客户单号" value="@ViewData.Model.KehuDH" />
                                            </div>
                                        </div>
                                        @*下单日期*@
                                        <div class="form-group">
                                            <label for="XiadanRQ" class="col-sm-3 control-label"><b>下单日期</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input id="XiadanRQ" name="XiadanRQ" placeholder="请填写下单日期" class="form-control" value="@string.Format("{0:yyyy-MM-dd}",ViewData.Model.XiadanRQ)" type="date">
                                                    <span class="input-group-addon">
                                                        <i class="icon-calendar bigger-110"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        @*联系人*@
                                        <div class="form-group">
                                            <label for="Lianxiren" class="col-sm-3 control-label"><b>联系人</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="Lianxiren" name="Lianxiren" class="form-control" placeholder="请输入联系人" value="@ViewData.Model.Lianxiren" />
                                            </div>
                                        </div>
                                        @*联系电话*@
                                        <div class="form-group">
                                            <label for="LianxiDH" class="col-sm-3 control-label"><b>联系电话</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="LianxiDH" name="LianxiDH" class="form-control" placeholder="请输入联系电话" value="@ViewData.Model.LianxiDH" />
                                            </div>
                                        </div>
                                        @*送货地址*@
                                        <div class="form-group">
                                            <label for="SonghuoDZ" class="col-sm-3 control-label"><b>送货地址</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="SonghuoDZ" name="SonghuoDZ" class="form-control" placeholder="请输入送货地址" value="@ViewData.Model.SonghuoDZ" />
                                            </div>
                                        </div>
                                        @*客服人员*@
                                        <div class="form-group">
                                            <label for="OPID" class="col-sm-3 control-label"><b>客服人员</b></label>
                                            <div class="col-sm-8">
                                                @Html.SelectList_Auto("OPID", "userinfo", "", (long)ViewData.Model.OPID)
                                            </div>
                                        </div>
                                        @*审核人员*@
                                        <div class="form-group">
                                            <label for="ACCID" class="col-sm-3 control-label"><b>审核人员</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="ACCID" name="ACCID" class="form-control" placeholder="请输入审核人员" value="@ViewData.Model.ACCID" />
                                            </div>
                                        </div>
                                        @*审核通过*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="ShenheTG"><b>审核通过</b></label>
                                            <div class="col-sm-4">
                                                <label class="control-group">
                                                    <input name="ShenheTG" id="ShenheTG" disabled class="ace ace-switch ace-switch-7" checked="checked" type="checkbox">
                                                    <span class="lbl"></span>
                                                </label>
                                            </div>
                                        </div>
                                        @*采购总数*@
                                        <div class="form-group">
                                            <label for="ZongshuCG" class="col-sm-3 control-label"><b>采购总数</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="ZongshuCG" name="ZongshuCG" class="form-control" placeholder="请输入采购总数" value="@ViewData.Model.ZongshuCG" />
                                            </div>
                                        </div>
                                        @*总金额*@
                                        <div class="form-group">
                                            <label for="Zongjine" class="col-sm-3 control-label"><b>总金额</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="Zongjine" name="Zongjine" class="form-control" placeholder="请输入总金额" value="@ViewData.Model.Zongjine" />
                                            </div>
                                        </div>
                                        @*是否控制*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="JieshuSF"><b>是否控制</b></label>
                                            <div class="col-sm-4">
                                                <label class="control-group">
                                                    <input name="JieshuSF" id="JieshuSF" class="ace ace-switch ace-switch-7" checked="checked" type="checkbox">
                                                    <span class="lbl"></span>
                                                </label>
                                            </div>
                                        </div>
                                        @*状态*@
                                        <div class="form-group">
                                            <label for="Zhuangtai" class="col-sm-3 control-label"><b>状态</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="Zhuangtai" name="Zhuangtai" class="form-control" placeholder="请输入状态" value="@ViewData.Model.Zhuangtai" />
                                            </div>
                                        </div>
                                        @*备注*@
                                        <div class="form-group">
                                            <label for="Beizhu" class="col-sm-3 control-label"><b>备注</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="Beizhu" name="Beizhu" class="form-control" placeholder="请输入备注" value="@ViewData.Model.Beizhu" />
                                            </div>
                                        </div>
                                        <div class="form-group" style="display:none;">
                                            @Html.LabelFor(m => m.Col1, new { @class = "control-label col-sm-2" })
                                            <div class="col-sm-10">
                                                @Html.TextBoxFor(m => m.Col1, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group" style="display:none;">
                                            @Html.LabelFor(m => m.Col2, new { @class = "control-label col-sm-2" })
                                            <div class="col-sm-10">
                                                @Html.TextBoxFor(m => m.Col2, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group" style="display:none;">
                                            @Html.LabelFor(m => m.Col3, new { @class = "control-label col-sm-2" })
                                            <div class="col-sm-10">
                                                @Html.TextBoxFor(m => m.Col3, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        @*录入日期*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="MakeDate"><b>录入日期</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input id="MakeDate" disabled="disabled" class="form-control" value="@string.Format("{0:yyyy-MM-dd}",ViewData.Model.MakeDate)" type="text">
                                                    <span class="input-group-addon">
                                                        <i class="icon-calendar bigger-110"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        @*录入人*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="MakeMan"><b>录入人</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input placeholder="录入人" disabled="disabled" class="form-control" type="text" value="@Html.GetDataValue_ID("userinfo", "全名", (int)ViewData.Model.MakeMan)">
                                                    <span class="input-group-addon">
                                                        <i class="icon-user bigger-110"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-actions center">
                                        <button id="save_bottom" class="btn btn-primary" type="button">
                                            <b>更新</b>
                                            <i class="icon-save bigger-110"></i>
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                @*订单明细*@
                <div class="col-sm-5">
                    <div style="max-height:1058px;">
                        <div class="widget-box radius-4">
                            <div class="widget-header">
                                <h4><b>订单明细</b></h4>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <div class="row" id="pl_fun_dizhi">
                                        <div class="col-sm-12">
                                            <button type="button" id="btn_Add" class="btn btn-white"><i class="icon-adn  bigger-120 blue"></i>添加</button>
                                            <button type="button" id="btn_Edit" class="btn btn-white"><i class="icon-edit  bigger-120"></i>编辑</button>
                                            <button type="button" id="btn_Del" class="btn btn-white"><i class="icon-remove red bigger-120"></i>删除</button>
                                        </div>
                                    </div>
                                    <div class="space-18"></div>
                                    @*订单明细列表*@
                                    <div id="container_ddmx" class="container" style="overflow:auto;max-height:922px;">
                                        <table class="table table-hover" id="mydatatable">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>商品</th>
                                                    <th>规格</th>
                                                    <th>采购数量</th>
                                                    <th>发货数量</th>
                                                    <th>销售报价</th>
                                                    <th>销售单价</th>
                                                    <th>金额</th>
                                                    <th>折扣额</th>
                                                    <th>折扣率</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="containerJxs" class="panel panel-primary" style="display:none;position:fixed;top:100px;left:250px;width:1000px;min-height:330px;z-index:99;">
    <div class="panel-heading">
        <h3 class="panel-title"><b>经销商</b><button id="container_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    @*查询条件*@
                    <div class="row">
                        <div class="col-sm-12">
                            <div style="border:1px solid #DDD;padding-top:10px;border-radius:4px;">
                                <div class="row">
                                    @*经销商*@
                                    <div class="form-group col-sm-4">
                                        <label for="req_jxs" class="col-sm-3 control-label"><b>经销商</b></label>
                                        <div class="col-sm-8">
                                            <input type="text" id="req_jxs" class="form-control" placeholder="请输入经销商名称" />
                                        </div>
                                    </div>
                                    @*联系人*@
                                    <div class="form-group col-sm-4">
                                        <label for="req_lianxiren" class="col-sm-3 control-label"><b>联系人</b></label>
                                        <div class="col-sm-8">
                                            <input type="text" id="req_lianxiren" class="form-control" placeholder="请输入联系人" />
                                        </div>
                                    </div>
                                    @*送货地址*@
                                    <div class="form-group col-sm-4">
                                        <label for="req_shdz" class="col-sm-3 control-label"><b>地址</b></label>
                                        <div class="col-sm-8">
                                            <input type="text" id="req_shdz" class="form-control" placeholder="请输入送货地址" />
                                        </div>
                                    </div>
                                </div>
                                @*按钮*@
                                <div class="row">
                                    <div class="form-group col-sm-4 col-sm-offset-4">
                                        <button type="button" id="jxs_search" class="btn btn-block " style="background-color:#56b18e!important;border:none;border-radius:6px;">
                                            <span style="font-size:16px!important;">查询</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            @*列表*@
                            <div class="row">
                                <div class="col-sm-12">
                                    <div style="margin-top:10px;max-height:400px;overflow:auto;">
                                        <table class="table table-hover" id="table_data">
                                            <caption></caption>
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>编号</th>
                                                    <th>名称</th>
                                                    <th>联系人</th>
                                                    <th>联系电话</th>
                                                    <th>地址</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>