@using GROBS.App_Code
@using GROBS.Models
@using X.PagedList
@using X.PagedList.Mvc
@{
    ViewBag.Title = "订单清单";
    string _searchcondition = ViewBag.SearchCondition;
}
<script type="text/javascript">
    try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    $(document).ready(function () {
        $("tr").bind("dblclick", function () {
            var u_id = $(this).find('td').eq(0).find('input').val();
            if (u_id != null) {
                var url_go = "/ord_dingdan/Edit/" + u_id;
                location.href = url_go;
            }
        });
        //table样式
        table_config(mydatatable);
        trResize();//初始化表头

    });
    function AddInfo() {
        location.href = "/ord_dingdan/Add";
    }
    function EditInfo() {
        $("#mydatatable tr input[type=checkbox]").each(function () {
            if (this.checked)
                location.href = "/ord_dingdan/Edit/" + $(this).val();
        });
    }
    function DelInfo() {
        var sDel = "";
        $("#mydatatable tr input[type=checkbox]").each(function () {
            if (this.checked)
                sDel = sDel + ", " + $(this).val()
        });
        if (sDel.length < 2)
            return;
        var url_go = "/ord_dingdan/Delete/?del=" + sDel;
        location.href = url_go;
    }
</script>
@{
    List<SearchConditionModel> scms = new List<SearchConditionModel>();
    if (_searchcondition == null || _searchcondition == "")
    {
        SearchConditionModel scm = new SearchConditionModel();
        scm.ItemCode = "Bianhao";
        scm.ItemTitle = "编号";
        scm.ItemType = "System.String";
        scms.Add(scm);
    }
    else
    {
        string[] scs = _searchcondition.Split(';');
        if (scs.Length > 0)
        {
            SearchConditionModel scm = new SearchConditionModel();
            scm.ItemCode = "Bianhao";
            scm.ItemTitle = "编号";
            scm.ItemType = "System.String";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[0].Split(',')[1];
                scm.ItemOpValue = scs[0].Split(',')[2];
                scm.ItemJion = scs[0].Split(',')[3];
            }
            scms.Add(scm);
        }
    }
}

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li class="active">订单</li>
    </ul>
</div>
<div class="page-content">
    @Html.Search_Condition((int)Session["user_id"], "订单_条件组合查询", "/ord_dingdan/index", "ord_dingdan_index", scms)
    <div class="page-header">
        <button type="button" class="btn btn-primary btn-xs btn-app radius-4" id="bt_searchInfo" data-toggle="modal" data-target="#myModal"><i class="icon-search"></i>查询</button>
        <button type="button" class="btn btn-primary btn-xs btn-app radius-4" id="bt_addInfo" onclick="AddInfo()"><i class="icon-adn"></i>新增</button>
        <button type="button" class="btn btn-primary btn-xs btn-app radius-4" id="bt_updateInfo" onclick="EditInfo()"><i class="icon-edit"></i>编辑</button>
        <button type="button" class="btn btn-primary btn-xs btn-app radius-4" id="bt_deleteInfo" onclick="DelInfo()"><i class="icon-remove"></i>删除</button>
        <button type="button" class="btn btn-primary btn-xs btn-app radius-4" id="bt_refreshInfo" onclick="javascript: location.reload()"><i class="icon-refresh"></i>刷新</button>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="table-wapper-all">
                <div class="fixed-table-wapper">
                    <table class="table table-bordered table-condensed fixed-table-header"></table>
                </div>
                <div class="table-wapper">
                    <table class="table table-bordered table-condensed" id="mydatatable">
                        <tr>
                            <th></th>
                            <th>编号</th>
                            <th>客户</th>
                            <th>产品线</th>
                            <th>采购类型</th>
                            <th>客户单号</th>
                            <th>下单日期</th>
                            <th>联系人</th>
                            <th>联系电话</th>
                            <th>送货地址</th>
                            <th>客服人员</th>
                            <th>审核人员</th>
                            <th>审核通过</th>
                            <th>采购总数</th>
                            <th>总金额</th>
                            <th>是否结束</th>
                            <th>状态</th>
                            <th>备注</th>
                            <th>制单日期</th>
                            <th>制单人</th>
                        </tr>
                        <tbody>
                            @foreach (var item in ViewBag.ord_dingdan)
                            {
                                <tr>
                                    <td>
                                        <label><input type="checkbox" value="@item.ID"></label>
                                    </td>
                                    <td>@item.Bianhao</td>
                                    <td>@Html.GetDataValue_ID("收货单位", "", (int)item.KHID)</td>
                                    <td>@Html.GetDataValue_ID("产品线", "", (int)item.CPXID)</td>
                                    <td>@Html.GetCommonValue_ID("订单类型", (int)item.CGLX)</td>
                                    <td>@item.KehuDH</td>
                                    <td>@string.Format("{0:yyyy-MM-dd}", item.XiadanRQ)</td>
                                    <td>@item.Lianxiren</td>
                                    <td>@item.LianxiDH</td>
                                    <td>@item.SonghuoDZ</td>
                                    <td>@Html.GetDataValue_ID("OPID", "", (int)item.OPID)</td>
                                    <td>@Html.GetDataValue_ID("ACCID", "", (int)item.ACCID)</td>
                                    <td>@string.Format("{0:0}", item.ShenheTG == bool.Parse("False") ? "否" : "是")</td>
                                    <td>@item.ZongshuCG</td>
                                    <td>@item.Zongjine</td>
                                    <td>@string.Format("{0:0}", item.JieshuSF == bool.Parse("False") ? "否" : "是")</td>
                                    <td>@item.Zhuangtai</td>
                                    <td>@item.Beizhu</td>
                                    <td>@item.MakeDate.ToString("yyyy-MM-dd")</td>
                                    <td>@Html.GetDataValue_ID("userinfo", "全名", (int)item.MakeMan)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <span class="pager">
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
            </span>
        </div>
    </div>
</div>
