  @using GROBS.App_Code
@using GROBS.Models
@using X.PagedList
@using X.PagedList.Mvc
@{
    ViewBag.Title = "指标";
    Layout = "~/Views/Shared/_LayoutCustomer02.cshtml";
    string _searchcondition = ViewBag.SearchCondition;
}
<script type="text/javascript">
    $(document).ready(function () {
        formatBoolToCHinese();//格式化是否
    });
    //格式化是否
    function formatBoolToCHinese() {
        $("#table_thisYearJiXiao").find("tr").each(function () {
            var boolT_F = $(this).find(".faFangSF").html();
            if (boolT_F == "true" || boolT_F == "True") {
                $(this).find(".faFangSF").html("是");
            } else {
                $(this).find(".faFangSF").html("否");
            }
        });
    }
</script>
@{
    List<SearchConditionModel> scms = new List<SearchConditionModel>();
    if (_searchcondition == null || _searchcondition == "")
    {
        SearchConditionModel scm = new SearchConditionModel();
        scm.ItemCode = "KHID";
        scm.ItemTitle = "客户";
        scm.ItemType = "System.Int32";
        scms.Add(scm);
    }
    else
    {
        string[] scs = _searchcondition.Split(';');
        if (scs.Length > 0)
        {
            SearchConditionModel scm = new SearchConditionModel();
            scm.ItemCode = "KHID";
            scm.ItemTitle = "客户";
            scm.ItemType = "System.Int32";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[0].Split(',')[1];
                scm.ItemOpValue = scs[0].Split(',')[2];
                scm.ItemJion = scs[0].Split(',')[3];
            }
            scms.Add(scm);
        }
    }
}
<div class="page-content">
    <input type="hidden" id="khid" value="@ViewBag.khid" />
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-body">
                        @*客户信息*@
                        <div class="row">
                            <div class="col-sm-12" style="font-size:18px;">
                                <i class="icon-signal green bigger-300"></i>&nbsp;&nbsp;
                                <b>@Html.GetDataValue_ID("收货单位", "", (int)(ViewBag.khid == null ? 0 : ViewBag.khid))</b>&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                        <hr />
                        <div class="clearfix">
                            <div class="pull-left">
                                <i class="icon-double-angle-left bigger" -160></i>&nbsp;&nbsp;<b><a href="/ord_jixiao/customertargetNow">返回</a></b>
                            </div>
                        </div>
                        <div class="space-2"></div>
                        @*列表*@
                        <table class="table table-bordered table-hover" id="table_thisYearJiXiao">
                            <tr>
                                <th>年度</th>
                                <th>月份</th>
                                <th>目标(元</th>
                                <th>业绩</th>
                                <th>达成率</th>
                                <th>返利申请金额</th>
                                <th>返利发放金额</th>
                                <th>返利是否发放</th>
                            </tr>
                            <tbody>
                                @foreach (var item in ViewBag.ord_jixiao)
                                {
                                    <tr>
                                        <td style="display:none;">
                                            <label><input type="checkbox" value="@item.ID"></label>
                                        </td>
                                        <td>@item.Niandu</td>
                                        <td>@item.Yuefen</td>
                                        <td>@string.Format("{0:C}", item.Zhibiao)</td>
                                        <td>@item.Yeji</td>
                                        <td>@item.Dachenglv</td>
                                        <td>@item.FLSQJE</td>
                                        <td>@item.FLFFJE</td>
                                        <td class="faFangSF">@item.FafangSF</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="pager">
                            @Html.PagedListPager((IPagedList)Model, page => Url.Action("customertarget", new { page }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
