@using GROBS.App_Code
@using GROBS.Models
@model auth_gongsiViewModel
@{ViewBag.Title = "作业公司添加";}

<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }

        $(document).ready(function () {
            $("#MakeDate").datepicker();
            $("#YXQ").datepicker();
            document.getElementById("Daima").focus();
        })
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/auth_gongsi">作业公司</a>
        </li>
        <li class="active"> 新增</li>
    </ul>
</div>

<div class="page-content">
    @using (Html.BeginForm("Save", "auth_gongsi", FormMethod.Post, new { @role = "form" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" />
        <input type="hidden" id="MakeMan" name="MakeMan" value=@Session["user_id"] />
        <div class="page-header">
            <p>
                <button type="submit" class="btn btn-default"><i class="icon-save"></i>保存</button>
                <button type="button" class="btn btn-default" onclick="javascript:history.back(-1); "><i class="icon-hand-left"></i>返回</button>
            </p>
        </div>
        <div class="container">
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <i class="icon-leaf red"></i>@Html.LabelFor(m => m.Daima)
                </div>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Daima, new { @class = "form-control", id = "Daima" })
                    @*@Html.ValidationMessageFor(m => m.Daima)*@
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <i class="icon-leaf red"></i>@Html.LabelFor(m => m.Jiancheng)
                </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.Jiancheng, new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(m => m.Jiancheng)*@
                    </div>
                </div>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <i class="icon-leaf red"></i>@Html.LabelFor(m => m.Mingcheng)
                </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.Mingcheng, new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(m => m.Mingcheng)*@
                    </div>
                </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Biaozhi, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Biaozhi, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.HetongBH, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.HetongBH, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.YXQ, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input id="YXQ" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="YXQ">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Leixing, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Leixing, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Lianxiren, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Lianxiren, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LianxiDH, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.LianxiDH, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Beizhu, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Beizhu, new { @class = "form-control" })
                </div>
            </div>
            @*<div class="form-group">
                @Html.LabelFor(m => m.Col1, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Col1, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Col2, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Col2, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Col3, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Col3, new { @class = "form-control" })
                </div>
            </div>*@
            <div class="form-group">
                @Html.LabelFor(m => m.MakeDate, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input id="MakeDate" readonly type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="MakeDate">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MakeMan, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @*@Html.SelectList_Auto("MakeMan", "userinfo", "fullname", (long)@ViewBag.userid)*@
                    <input type="text" readonly class="form-control" value="@Html.GetDataValue_ID("userinfo", "全名", (int)Session["user_id"])" />
                </div>
            </div>
        </div>
    }
</div>
