@using GROBS.App_Code
@using GROBS.Models
@model base_shangpinxxViewModel
@{ViewBag.Title = "商品资料添加";}

<script type="text/javascript">
    $(document).ready(function () {
        $("#pl_jldw").draggable({ handle: '.tuodong' }, { containment: [-1000, 50, 1300, 600] });
        $("#pl_Fanwei").draggable({ handle: '.tuodong' }, { containment: [-1000, 50, 1300, 600] });
        $("#pl_Cunchu").draggable({ handle: '.tuodong' }, { containment: [-1000, 50, 1300, 600] });
        $("#pl_zcz").draggable({ handle: ".panel-heading" }, { containment: [-1000, 50, 1300, 600] });
        $("#pl_zcz_close").click(function () {
            $("#pl_zcz").hide();
        });
        $("#pl_zcz_search").click(function () {
            GetZCZNow();
        });
        $("#selzcz").click(function () {
            $("#pl_zcz").show();
        });
        $("#dt_zcz tbody").on("dblclick", "tr", function () {
            $("#zhucezhengid").val($(this).find("input").val());
            $("#zhucezhengbh").val($(this).find("td").eq(1).html());
            $("#zczbh").val($("#zhucezhengbh").val());
            $("#pl_gg").html('<select name="guige" id="select_gg" style="width:100%;"></select>');
            getZCZ($("#zhucezhengid").val());
            $("#pl_zcz").hide();
            $("#Daima").attr("placeholder", "请选择规格");
            $("#ShangpinTM").attr("placeholder", "请选择规格");
            $("#select_gg").change(function () {
                var guige = $("#select_gg").find("option:selected").text();
                $("#Daima").val(guige);
                $("#ShangpinTM").val(guige);
            });
        });
        var _ispack = false;
        //$("#shangpinxx_save").click(function () {
        //    //check info
        //    var _ml = $("#Muluxuhao").val();
        //    var _fw = $("#hz_allow").val();
        //    if (_fw.indexOf(_ml) == -1) {
        //        alert("产品不在经营范围内，请重新设定！")
        //        return;
        //    }
        //    $("form").submit();
        //});
        $("#Huansuanlv").val("1");//换算率默认为1
        $("#makedate").datepicker();//时间
        $("#shouying").val("1");//默认首营状态为"新建"
        $("#huozhuid").attr('required', 'required');
        GetJldw();
        GetFanwei();
        //分类目录
        $("#bt_mulu").click(function () {
            $("#pl_Fanwei").show();
            $("#qxdatatable tr input[type=checkbox]").on('click', function () {
                $("#qxdatatable tr input[type=checkbox]").not(this).attr("checked", false);
            });
        });
        //选择管理分类
        $("#cata_guanlifenlei").change(function () {
            var fl = $('.glfl').text();
            var lb = $("#cata_guanlifenlei").find("option:selected").text();
            switch (lb) {
                case "一类":
                    for (var i = 0; i < fl.length; i++) {
                        if ($(".glfl").eq(i).text() == "1") {
                            $(".bg").eq(i).show();
                        }
                        else { $(".bg").eq(i).hide(); }
                    }
                    break;
                case "二类":
                    for (var i = 0; i < fl.length; i++) {
                        if ($(".glfl").eq(i).text() == "2") {
                            $(".bg").eq(i).show();
                        }
                        else { $(".bg").eq(i).hide(); }
                    }
                    break;
                case "三类":
                    for (var i = 0; i < fl.length; i++) {
                        if ($(".glfl").eq(i).text() == "3") {
                            $(".bg").eq(i).show();
                        }
                        else { $(".bg").eq(i).hide(); }
                    }
                    break;
                default:
                    $(".bg").show();
                    break;
            }
        });
        //添加分类目录事件
        $("#bt_fanwei_add").click(function () {
            var _mulu = "";
            var _muluxh = "";
            var _mlfind = false;
            $("#qxdatatable tr input[type=checkbox]").each(function () {
                if (this.checked) {
                    _mulu = $(this).parent().parent().siblings().find(".bh").html() + " " + $(this).parent().parent().siblings().find(".mc").html();
                    _muluxh = $(this).val();
                    _mlfind = true;
                }
            });
            if (_mlfind) {
                $("#Mulu").val(_mulu);
                $("#muluxuhao").val(_muluxh);
            }
            $("#pl_Fanwei").hide();
        });
        $("#plfw_close").click(function () {
            $("#pl_Fanwei").hide();
        });
        //双击取值
        $("#qxdatatable tbody").on("dblclick", "tr", function () {
            $("#Mulu").val($(this).find(".bh").html() + " " + $(this).find(".mc").html());
            $("#muluxuhao").val($(this).find("input[type=checkbox]").val());
            $("#pl_Fanwei").hide();
        });
        //单击打钩
        $("#qxdatatable").on("click", "tr", function (e) {
            if (e.target.tagName == "TD" || e.target.tagName == "SPAN") {
                if ($(this).find(":checkbox").is(':checked')) {
                    $(this).find(":checkbox").prop("checked", false);
                } else {
                    $(this).find(":checkbox").prop("checked", true);
                }
            }
        });
        //注册证规格→代码
        //$("#select_gg").change(function () {
        //    var guige = $("#select_gg").find("option:selected").text();
        //    $("#Daima").val(guige);
        //});
        //$("#select_gg").on("change", function () {
        //    alert("ok");
        //    var guige = $("#select_gg").find("option:selected").text();
        //    $("#Daima").val(guige);
        //});
        //货主ID→产品线名称
        $("#huozhuid").change(function () {
            var _huozhuid = $("#huozhuid").val();
            if (_huozhuid == "") {
                $("#select_cpx").text("");
                $("#hz_allow").val("");
            } else {
                getCpx(_huozhuid);
                getAllow(_huozhuid);
            }
        });
        //注册证→获取其他信息
        //$("#zhucezhengid").change(function () {
        //    var _zczid = $("#zhucezhengid").val();
        //    //$("#Daima").val("");
        //    getZCZ(_zczid);
        //});
        //计量单位
        $("#btn_jldw1").click(function () {
            _ispack = true;
            $("#pl_jldw .checkbox").prop("checked", false);
            $("#pl_jldw").show();
        });
        $("#btn_jldw").click(function () {
            _ispack = false;
            $("#pl_jldw .checkbox").prop("checked", false);
            $("#pl_jldw").show();
        });
        $("#pl_close").click(function () {
            $("#pl_jldw").hide();
        });
        $("#bt_jldw_add").click(function () {
            var _jldw = "";
            $("#jldwdatatable tr input[type=checkbox]").each(function () {
                if (this.checked) {
                    _jldw = $(this).parent().parent().siblings().find(".mc").html();
                }
            });
            if (_ispack)
                $("#BaozhuangDW").val(_jldw);
            else
                $("#Danwei").val(_jldw);
            $("#pl_jldw").hide();
        });
        //双击取值
        $("#jldwdatatable tbody").on("dblclick", "tr", function () {
            if (_ispack)
                $("#BaozhuangDW").val($(this).find(".mc").html());
            else
                $("#Danwei").val($(this).find(".mc").html());
            $("#pl_jldw").hide();
        });
        //单击打钩
        $("#jldwdatatable").on("click", "tr", function (e) {
            if (e.target.tagName == "TD" || e.target.tagName == "SPAN") {
                if ($(this).find(":checkbox").is(':checked')) {
                    $(this).find(":checkbox").prop("checked", false);
                } else {
                    $(this).find(":checkbox").prop("checked", true);
                }
            }
        });
        //存储条件
        $("#ccdatatable tbody tr:first").hide();//第一行为空-->隐藏

        $("#btn_cctj").click(function () {
            $("#pl_Cunchu").removeAttr("hidden");
            $("#pl_Cunchu").show();
            $("#pl_Cunchu .checkbox").prop("checked", false);
        });
        $("#bt_cunchu_add").click(function () {
            var _cctj = "";
            $("#ccdatatable tr input[type=checkbox]").each(function () {
                if (this.checked) {
                    _cctj = $(this).parent().parent().parent().find(".cctj_val").html();
                }
                $("#Cunchutiaojian").val(_cctj);
            });
            $("#pl_Cunchu").hide();
        });
        $("#plcc_close").click(function () {
            $("#pl_Cunchu").hide();
        });
        $("#ccdatatable tbody").on("dblclick", "tr", function () {
            $("#Cunchutiaojian").val($(this).find(".cctj_val").html());
            $("#pl_Cunchu").hide();
        });
        //单击打钩
        $("#ccdatatable").on("click", "tr", function (e) {
            if (e.target.tagName == "TD" || e.target.tagName == "SPAN") {
                if ($(this).find(":checkbox").is(':checked')) {
                    $(this).find(":checkbox").prop("checked", false);
                } else {
                    $(this).find(":checkbox").prop("checked", true);
                }
            }
        });
        //验证
        $("#huozhuid").attr('required', 'required');
        $("#Daima").attr('required', 'required');
        $("#gongyingid").attr('required', 'required');
        //'审查'绑定值
        $("#shenchasf").val("true");//默认赋值
        $("#shenchasf").change(function () {
            if ($("#shenchasf").is(":checked")) {
                $("#shenchasf").val("true");//选中=true
            } else {
                $("#shenchasf").val("false");//不选中=false
            }
        });
        //'经营'绑定值
        $("#JingyinSF").val("true");//默认赋值
        $("#JingyinSF").change(function () {
            if ($("#JingyinSF").is(":checked")) {
                $("#JingyinSF").val("true");//选中=true
            } else {
                $("#JingyinSF").val("false");//不选中=false
            }
        });
        //保存提交
        var form = $("#spxx_form");
        $("#btn_save1").bind("click", function () {
            var muluxuhao = $("#muluxuhao").val();
            var mlc_huozhuid = $("#huozhuid").val();
            if ($("#shenchasf").is(":checked") == true) {//审查=true
                if (muluxuhao == null || muluxuhao == "") {//分类目录=null
                    alert("您已经选择审查，分类目录不可为空！");
                    return false;
                } else {//分类目录 != null
                    check_ajax(form, muluxuhao, mlc_huozhuid);
                }
            } else {//审查=false
                if (muluxuhao == null || muluxuhao == "") {//分类目录=空
                    form.submit();
                } else {//分类目录 != null
                    check_ajax(form, muluxuhao, mlc_huozhuid);
                }
            }
        });
        $("#btn_save").bind("click", function () {
            var muluxuhao = $("#muluxuhao").val();
            var mlc_huozhuid = $("#huozhuid").val();
            if ($("#shenchasf").is(":checked") == true) {//审查=true
                if (muluxuhao == null || muluxuhao == "") {//分类目录=null
                    alert("您已经选择审查，分类目录不可为空！");
                    return false;
                } else {//分类目录 != null
                    check_ajax(form, muluxuhao, mlc_huozhuid);
                }
            } else {//审查=false
                if (muluxuhao == null || muluxuhao == "") {//分类目录=空
                    form.submit();
                } else {//分类目录 != null
                    check_ajax(form, muluxuhao, mlc_huozhuid);
                }
            }
        });
    });
    function check_ajax(form, muluxuhao, mlc_huozhuid) {
        var form = form;
        var muluxuhao = muluxuhao;
        var mlc_huozhuid = mlc_huozhuid;
        $.ajax({
            async: true,
            beforeSend: function () {
                ShowWait();
            },
            complete: function () {
                HiddenWait();
            },
            type: "POST",
            url: "/base_shangpinxx/mulucheck",
            data: {
                mlc_huozhuid: mlc_huozhuid,
                muluxuhao: muluxuhao
            },
            success: function (data) {
                if (data == 1) {
                    //保存成功
                    form.submit();
                } else if (data == -1) {
                    alert("该分类目录不存在");
                }
            }
        });
    }
    function GetZCZNow() {
        var filltable = "";
        $.post(
                "/base_shangpinzcz/getzcznow",
                {
                    bh: $("#pl_zcz_bh").val(),
                    mc: $("#pl_zcz_mc").val(),
                    gg: $("#pl_zcz_gg").val()
                },
                function (data) {
                    if (data == 1)
                        alert("必须通过编号或名称进行查询！");
                    else {
                        for (var i in data) {
                            filltable = filltable + '<tr><td><label><input class="checkbox" type="checkbox" class ="checkbox" value="';
                            filltable = filltable + data[i].ID;
                            filltable = filltable + '"></label></td><td>';
                            filltable = filltable + data[i].Bianhao;
                            filltable = filltable + '</td><td>';
                            filltable = filltable + data[i].Mingcheng;
                            filltable = filltable + '</td><td>';
                            filltable = filltable + data[i].ZhucezhengYXQ.toDate().Format("yyyy-MM-dd");
                            filltable = filltable + '</td><td>';
                            filltable = filltable + data[i].ShiyongFW;
                            filltable = filltable + '</td></tr>';
                        }
                    }
                    $("#pl_zcz tbody").html(filltable);
                });
    }
    function GetFanwei() {
        var filltable = "";
        $.post(
                "/base_qixiemulu/GetQixiemulu1",
                {},
                function (data) {
                    for (var i in data) {
                        filltable = filltable + '<tr class="bg"><td style="width:4%"><label><input class="checkbox" type="checkbox" class ="checkbox" value="';
                        filltable = filltable + data[i].ID;
                        filltable = filltable + '"></label></td><td style="width:10%"><span class="bh">';
                        filltable = filltable + data[i].Bianhao;
                        filltable = filltable + '</span></td><td style="width:30%"><span class="mc">';
                        filltable = filltable + data[i].Mingcheng;
                        filltable = filltable + '</span></td><td style="width:30%">';
                        filltable = filltable + data[i].Miaoshu;
                        filltable = filltable + '</td><td style="width:10%"><span class="glfl">';
                        filltable = filltable + data[i].GuanliFL;
                        filltable = filltable + '</span></td></tr>';
                    }
                    $("#pl_Fanwei tbody").html(filltable);
                });
    }
    function getAllow(huozhuid) {
        var _hzid = huozhuid;
        $.post("/base_weituokehu/getcustomer", { cust: _hzid }, function (data) {
            if (data == -1)
                $("#hz_allow").val("");
            else
                $("#hz_allow").val(data.JingyingfanweiDM);
        });
    }
    function getCpx(huozhuid) {
        var _huozhuid = huozhuid;
        var filltable = '<option value="0"></option>';
        $.post(
            "/base_chanpinxian/getdetail",
            {
                cpxid: _huozhuid
            },
            function (data) {
                for (var i in data) {
                    filltable = filltable + '<option value="';
                    filltable = filltable + data[i].ID;
                    filltable = filltable + '">';
                    filltable = filltable + data[i].Mingcheng;
                    filltable = filltable + '</option>';
                }
                $("#select_cpx").html(filltable);
            });
    }
    function getZCZ(zczid) {
        var _zczid = zczid;
        var filltable = '<option value=""></option>';
        var fillmc = "";
        $.post(
            "/base_shangpinzcz/getdetail",
            {
                zczbh: _zczid
            },
            function (data) {
                if (data != null) {
                    $("#Mingcheng").val(data.Mingcheng);
                    $("#Chandi").val(data.Chandi);
                    $("#Qiyemingcheng").val(data.Shengchanqiye);
                    $("#qiyeid").val(data.ShengchanqiyeID);
                    $("#zhucezhengbh").val(data.Bianhao)
                    for (var i in data.Guige) {
                        filltable = filltable + '<option value="';
                        filltable = filltable + data.Guige[i].Guige;
                        filltable = filltable + '">';
                        filltable = filltable + data.Guige[i].Guige;
                        filltable = filltable + '</option>';
                    }
                    $("#select_gg").html(filltable);
                    GetFirstDaima();
                }
            });
    }
    function GetFirstDaima() {
        var guige = $("#select_gg").find("option:selected").text();
        $("#Daima").val(guige);
    }
    function getZczgg(zczid) {
        var _zczid = zczid;
        var filltable = "";
        var fillmc = "";
        var daima1 = "";
        $.post(
            "/base_zhucezhenggg/getdetail",
            {
                zczbh: _zczid
            },
            function (data) {
                for (var i in data) {
                    filltable = filltable + '<option value="';
                    filltable = filltable + data[i].Guige;
                    filltable = filltable + '">';
                    filltable = filltable + data[i].Guige;
                    filltable = filltable + '</option>';
                    daima1 = data[0].Guige;
                }
                $("#select_gg").html(filltable);
            });
    }
    function GetJldw() {
        var filltable = "";
        $.post(
            "/base_jiliangdw/GetJldw",
            {
            },
                function (data) {
                    for (var i in data) {
                        filltable = filltable + '<tr><td width="50px;"><label><input type="checkbox" class ="checkbox" value="';
                        filltable = filltable + data[i].ID;
                        filltable = filltable + '"></label></td><td width="30%;"><span class="bh">';
                        filltable = filltable + data[i].Bianhao;
                        filltable = filltable + '</span></td><td width="30%;"><span class="mc">';
                        filltable = filltable + data[i].Mingcheng;
                        filltable = filltable + '</span></td><td width="30%;">';
                        filltable = filltable + data[i].Miaoshu;
                        filltable = filltable + '</td></tr>';
                    }
                    $("#pl_jldw tbody").html(filltable);
                });
    }
    function GetChecked(getExist, getAll) {
        var _Exist = getExist;
        var _All = getAll;
        for (var i = 0; i < _All.length; i++) {
            if (_Exist == _All.eq(i).val())
                $("input:checkbox").eq(l).attr("checked", true);
        }
    }
</script>
<div id="loading"><img src="~/Imgs/wait.gif" alt="" />...系统正在加载数据,请耐心等待...</div>
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/base_shangpinxx">商品资料</a>
        </li>
        <li class="active"> 新增</li>
    </ul>
</div>
<div class="page-content">
    <div class="page-header">
        <p>
            <button type="button" class="btn btn-app btn-xs btn-primary radius-4" onclick="javascript:history.back(-1); "><i class="icon-reply icon-only"></i><b>返回</b></button>
            <button type="button" id="btn_save" class="btn btn-app btn-xs btn-primary radius-4">
                <i class="icon-save"></i><b>保存</b>
                <span class="badge badge-transparent">
                    <i class="light-red icon-asterisk"></i>
                </span>
            </button>
        </p>
    </div>
    <div class="wrapper" style="background: url('/Imgs/bg-cloud.png') repeat;">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="widget-box radius-4">
                        <div class="widget-header">
                            <h4><b>商品信息</b></h4>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main no-padding">
                                @using (Html.BeginForm("Save", "base_shangpinxx", FormMethod.Post, new { @role = "form", id = "spxx_form", @class = "form-horizontal" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" />
                                    <input type="hidden" name="qiyeid" id="qiyeid" />
                                    <input type="hidden" name="Muluxuhao" id="muluxuhao" />
                                    <input type="hidden" name="zhucezhengbh" id="zhucezhengbh" />
                                    <input type="hidden" name="zhucezhengid" id="zhucezhengid" />
                                    <input type="hidden" id="Shouying" name="Shouying" value="1" />
                                    <input type="hidden" id="hz_allow" />
                                    <input type="hidden" id="MakeMan" name="MakeMan" value=@Session["user_id"] />
                                    <fieldset>
                                        @*货主*@
                                        <div class="form-group">
                                            <label for="huozhuid" class="control-label col-sm-3"><i class="red glyphicon glyphicon-asterisk"></i> <b>货主</b></label>
                                            <div class="col-sm-8">
                                                @Html.SelectList_Auto("huozhuid", "货主", "名称")
                                            </div>
                                        </div>
                                        @*代码*@
                                        <div class="form-group">
                                            <label for="Daima" class="col-sm-3 control-label"><i class="red glyphicon glyphicon-asterisk"></i> <b>代码</b></label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.Daima, new { @class = "form-control", @placeholder = "必填，请先选择规格" })
                                            </div>
                                        </div>
                                        @*注册证*@
                                        <div class="form-group">
                                            <label for="zczbh" class="col-sm-3 control-label"><b>注册证</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input id="zczbh" placeholder="请填写注册证" class="form-control" type="text">
                                                    <span class="input-group-btn">
                                                        <button id="selzcz" type="button" class="btn btn-primary btn-sm">
                                                            选择
                                                            <i class="icon-hand-up icon-on-right bigger-110"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        @*商品名称*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="Mingcheng"><b>商品名称</b></label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.Mingcheng, new { @class = "form-control", @placeholder = "请填写商品名称" })
                                            </div>
                                        </div>
                                        @*商品描述*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="ShangpinMS"><b>商品描述</b></label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.ShangpinMS, new { @class = "form-control", @placeholder = "请填写商品描述" })
                                            </div>
                                        </div>
                                        @*规格*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="guige"><b>规格</b></label>
                                            <div id="pl_gg" class="col-sm-8">
                                                <input type="text" name="guige" id="guige" class="form-control" placeholder="请填写规格" />
                                            </div>
                                        </div>
                                        @*供应商*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="gongyingid"><b>供应商</b></label>
                                            <div class="col-sm-8">
                                                @Html.SelectList_Auto("gongyingid", "供应商", "")
                                            </div>
                                        </div>
                                        @*生产企业*@
                                        <div class="form-group">
                                            <label for="Qiyemingcheng" class="col-sm-3 control-label"><b>生产企业</b></label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.Qiyemingcheng, new { @class = "form-control", @placeholder = "请填写生产企业" })
                                            </div>
                                        </div>
                                        @*产地*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="Chandi"><b>产地</b></label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.Chandi, new { @class = "form-control", @placeholder = "请填写产地" })
                                            </div>
                                        </div>
                                        @*型号*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="Xinghao"><b>型号</b></label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.Xinghao, new { @class = "form-control", @placeholder = "请填写型号" })
                                            </div>
                                        </div>
                                        @*商品条码*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="ShangpinTM"><b>商品条码</b></label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.ShangpinTM, new { @class = "form-control", @placeholder = "请填写商品条码" })
                                            </div>
                                        </div>
                                        @*计量单位*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="Danwei"><b>单位</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input id="Danwei" name="Danwei" placeholder="请选择单位" class="form-control" type="text">
                                                    <span class="input-group-btn">
                                                        <button type="button" id="btn_jldw" class="btn btn-primary btn-sm">
                                                            选择
                                                            <i class="icon-hand-up icon-on-right bigger-110"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        @*包装单位*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="BaozhuangDW"><b>包装单位</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input id="BaozhuangDW" name="BaozhuangDW" placeholder="请选择包装单位" class="form-control" type="text">
                                                    <span class="input-group-btn">
                                                        <button type="button" id="btn_jldw1" class="btn btn-primary btn-sm">
                                                            选择
                                                            <i class="icon-hand-up icon-on-right bigger-110"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        @*分类目录*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="Guanlifenlei"><b>分类目录</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input id="Mulu" placeholder="请选择分类目录" class="form-control" type="text">
                                                    <span class="input-group-btn">
                                                        <button type="button" id="bt_mulu" class="btn btn-primary btn-sm">
                                                            选择
                                                            <i class="icon-hand-up icon-on-right bigger-110"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        @*换算率*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="Huansuanlv"><b>换算率</b></label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.Huansuanlv, new { @class = "form-control", @placeholder = "请填写换算率" })
                                            </div>
                                        </div>
                                        @*长*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="Volchang"><b>长</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input id="Volchang" name="Volchang" placeholder="请填写长" class="form-control col-sm-10" type="text">
                                                    <span class="input-group-addon input-group-sm">米(m)</span>
                                                </div>
                                            </div>
                                        </div>
                                        @*宽*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="Volkuan"><b>宽</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input id="Volkuan" name="Volkuan" placeholder="请填写宽" class="form-control col-sm-10" type="text">
                                                    <span class="input-group-addon input-group-sm">米(m)</span>
                                                </div>
                                            </div>
                                        </div>
                                        @*高*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="Volgao"><b>高</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input id="Volgao" name="Volgao" placeholder="请填写高" class="form-control col-sm-10" type="text">
                                                    <span class="input-group-addon input-group-sm">米(m)</span>
                                                </div>
                                            </div>
                                        </div>
                                        @*产品线*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="chanpinxian"><b>产品线</b></label>
                                            <div class="col-sm-8">
                                                <select name="chanpinxian" id="select_cpx" style="width:100%;"></select>
                                            </div>
                                        </div>
                                        @*管理分类*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="guanlifenlei"><b>管理分类</b></label>
                                            <div class="col-sm-8">
                                                @Html.SelectList_Common("guanlifenlei", "医疗器械管理类别")
                                            </div>
                                        </div>
                                        @*包装要求*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="Baozhuangyaoqiu"><b>包装要求</b></label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.Baozhuangyaoqiu, new { @class = "form-control", @placeholder = "请填写包装要求" })
                                            </div>
                                        </div>
                                        @*存储条件*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="Cunchutiaojian"><b>存储条件</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input id="Cunchutiaojian" placeholder="请选择存储条件" name="cunchutiaojian" class="form-control" type="text">
                                                    <span class="input-group-btn">
                                                        <button type="button" id="btn_cctj" class="btn btn-primary btn-sm">
                                                            选择
                                                            <i class="icon-hand-up icon-on-right bigger-110"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        @*温度上限*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="WenduSX"><b>温度上限</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input id="WenduSX" name="WenduSX" placeholder="请填写温度上限" class="form-control col-sm-10" type="text">
                                                    <span class="input-group-addon input-group-sm"><b>&#8451;</b></span>
                                                </div>
                                            </div>
                                        </div>
                                        @*温度下限*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="WenduXX"><b>温度下限</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input id="WenduXX" name="WenduXX" placeholder="请填写温度下限" class="form-control col-sm-10" type="text">
                                                    <span class="input-group-addon input-group-sm"><b>&#8451;</b></span>
                                                </div>
                                            </div>
                                        </div>
                                        @*是否审查*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="shenchasf"><b>是否审查</b></label>
                                            <div class="col-sm-4">
                                                <label class="control-group">
                                                    <input name="shenchasf" id="shenchasf" class="ace ace-switch ace-switch-7" checked="checked" type="checkbox">
                                                    <span class="lbl"></span>
                                                </label>
                                            </div>
                                        </div>
                                        @*是否经营*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="JingyinSF"><b>是否经营</b></label>
                                            <div class="col-sm-4">
                                                <label class="control-group">
                                                    <input name="JingyinSF" id="JingyinSF" class="ace ace-switch ace-switch-7" checked="checked" type="checkbox">
                                                    <span class="lbl"></span>
                                                </label>
                                            </div>
                                        </div>
                                        @*首营状态*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="Shouying"><b>首营状态</b></label>
                                            <div class="col-sm-8">
                                                <input class="form-control" disabled="disabled" type="text" value="@Html.GetCommonValue_ID("首营状态", 1)">
                                            </div>
                                        </div>
                                        @*输入日期*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="makedate"><b>录入日期</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input name="makedate" disabled="disabled" placeholder="请填写录入日期" class="form-control" value="@DateTime.Now.ToString("yyyy/MM/dd")" type="text">
                                                    <span class="input-group-addon">
                                                        <i class="icon-calendar bigger-110"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        @*录入人*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="MakeMan"><b>录入人</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input placeholder="MakeMan" disabled="disabled" class="form-control" type="text" value="@Html.GetDataValue_ID("userinfo", "全名", (int)ViewBag.userid)">
                                                    <span class="input-group-addon">
                                                        <i class="icon-user bigger-110"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-actions center">
                                        <button id="btn_save1" class="btn btn-primary" type="button">
                                            <b>保存</b>
                                            <i class="icon-save bigger-110"></i>
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="pl_jldw" class="panel panel-primary " style="display:none;position:fixed;top:100px;left:250px;width:400px;height:500px;z-index:99999;">
    <div class="panel-heading tuodong">
        <h3 class="panel-title">计量单位<button id="pl_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div class="center">
            <button type="button" class="btn btn-default " id="bt_jldw_add"><i class="icon-add"></i>确定</button>
            <table class="table" id="jldwdatatable" style="margin-top:10px;">
                <caption></caption>
                <thead style="display:block">
                    <tr>
                        <td width="50px;"></td>
                        <td width="30%;">编号</td>
                        <td width="30%;">名称</td>
                        <td width="30%;">说明</td>
                    </tr>
                </thead>
                <tbody style="display:block; max-height:380px;overflow:auto;"></tbody>
            </table>
        </div>
    </div>
</div>
<div id="pl_Fanwei" class="panel panel-primary " style="display:none;position:fixed;top:100px;left:200px;z-index:999;">
    <div class="panel-heading tuodong">
        <h3 class="panel-title">分类目录<button id="plfw_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div class="center">
            <button type="button" class="btn btn-default " id="bt_fanwei_add"><i class="icon-add"></i>确定</button>
            <span class="gllb">
                <span style="margin-left:10px;">管理类别</span>
                <select name="cata_guanlifenlei" id="cata_guanlifenlei">
                    <option value="全部">全部</option>
                    <option value="一类">一类</option>
                    <option value="二类">二类</option>
                    <option value="三类">三类</option>
                </select>
            </span>
            <table class="table" id="qxdatatable" style="margin-top:10px;">
                <caption></caption>
                <thead style="display:block">
                    <tr>
                        <td style="width:4%"></td>
                        <td style="width:10%">编号</td>
                        <td style="width:30%">名称</td>
                        <td style="width:30%">描述</td>
                        <td style="width:10%">管理分类</td>
                    </tr>
                </thead>
                <tbody style="display:block; max-height:330px;overflow:auto;"></tbody>
            </table>
        </div>
    </div>
</div>
@*存储条件*@
<div id="pl_Cunchu" class="panel panel-primary" style="display:none;position:fixed;top:100px;left:240px;width:240px;height:auto;z-index:999;">
    <div class="panel-heading tuodong">
        <h3 class="panel-title">存储条件<button id="plcc_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div class="center">
            <button type="button" class="btn btn-default " id="bt_cunchu_add"><i class="icon-add"></i>确定</button>
            <table class="table" id="ccdatatable" style="margin-top:10px;">
                <caption></caption>
                <thead style="display:block">
                    <tr>
                        <td width="40px"></td>
                        <td width="95px">编号</td>
                        <td width="100px">名称</td>
                    </tr>
                </thead>
                <tbody style="display:block; max-height:460px;overflow:auto;">
                    @foreach (var dd in MvcApplication.TranCondition)
                    {
                        <tr>
                            <td>
                                <label><input type="checkbox" class="checkbox" value="" /></label>
                            </td>
                            <td width="90px">@dd.Key</td>
                            <td width="100px" class="cctj_val">@dd.Value</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="pl_zcz" class="panel panel-primary" style="display:none;position:fixed;top:100px;left:240px;width:1000px;height:600px;z-index:999;">
    <div class="panel-heading tuodong">
        <h3 class="panel-title">注册证<button id="pl_zcz_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <label class="col-sm-1"><i class="icon-leaf red"></i>编号</label>
            <div class="col-sm-2">
                <input type="text" id="pl_zcz_bh" size="20" />
            </div>
            <div class="col-sm-1">
                <label><i class="icon-leaf red"></i>名称</label>
            </div>
            <div class="col-sm-2">
                <input type="text" id="pl_zcz_mc" size="20" />
            </div>
            <div class="col-sm-1">
                <label><i class="icon-leaf red"></i>规格</label>
            </div>
            <div class="col-sm-2">
                <input type="text" id="pl_zcz_gg" size="20" />
            </div>
            <div class="col-sm-3 center">
                <button type="button" class="btn btn-default" id="pl_zcz_search"><i class="icon-search"></i>查询</button>
            </div>
        </div>
        <div style="overflow:auto;height:500px;">
            <table class="table table-condensed" id="dt_zcz">
                <caption></caption>
                <thead style="white-space: nowrap;">
                    <tr>
                        <td></td>
                        <td>编号</td>
                        <td>名称</td>
                        <td>失效日期</td>
                        <td>使用范围</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
