@using GROBS.App_Code;
@using GROBS.EFModels

@using GROBS.Models
@model base_gongyingshangViewModel
@{
    ViewBag.Title = "供应商修改";
    base_gongyingshang item = ViewBag.base_gongyingshang;
}

@Html.GetFileUpload("ob_base_gongyingshang_yingyezhizhaotp", "yyzz", "z", "gys", 3, 0, new Dictionary<string, string>() { { "yyzz", "ob_base_gongyingshang_yingyezhizhaotp" }, { "xkz", "ob_base_gongyingshang_jingyingxuketp" }, { "BATP", "ob_base_gongyingshang_beiantp" } })

<script type="text/javascript">
    try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    $(document).ready(function () {
        if (eval($("#syid").val()) > 1)
            $(".page-header").hide();
        $("#pl_Fanwei").draggable({ handle: '.tuodong' }, { containment: [-1000, 50, 1300, 600] });
        $("#ob_base_gongyingshang_makedate").datepicker();
        $("#ob_base_gongyingshang_yingyezhizhaoyxq").datepicker();
        $("#ob_base_gongyingshang_jingyingxukeyxq").datepicker();
        $("#ob_base_gongyingshang_beianyxq").datepicker();
        $("#ob_base_gongyingshang_beianpzrq").datepicker();
        $("#ob_base_gongyingshang_xukepzrq").datepicker();

        var bj = 0;
        GetFanwei1(bj);

        $("#bt_fanwei_showall").click(function () {
            var bj = 1;
            var tempid = "";
            $("#qxdatatable tr input[type=checkbox]").each(function () {
                if (this.checked) {
                    tempid = tempid + $(this).parent().find(".xulieid").val() + ";";
                }
            });
            var fw = document.getElementsByClassName('xulieid');
            var i = $("#jingyingfanweijianma").val();
            var ti = i.split(";");
            //ti.splice(ti.length - 1);
            var xiaolei = new Array();
            var x = 0;
            for (var k = 0; k < ti.length; k++, x = 0) {
                for (var l = 0; l < fw.length; l++) {
                    if (ti[k] == $(".xulieid").eq(l).val()) {
                        x = 1;
                    }
                }
                if (x != 1) {
                    xiaolei.push(ti[k]);
                }
            }
            for (k = 0; k < xiaolei.length; k++) {
                tempid = tempid + xiaolei[k] + ";";
            }
            tempid = tempid.substring(0, tempid.length - 1);
            GetFanwei(bj, tempid);
        });

        $("#bt_fanwei_showdalei").click(function () {
            var bj = 1;
            var tempid = "";
            $("#qxdatatable tr input[type=checkbox]").each(function () {
                if (this.checked) {
                    tempid = tempid + $(this).parent().find(".xulieid").val() + ";";
                }
            });
            GetFanwei1(bj, tempid);
        });


        $("#pl_close").click(function () {
            $("#pl_Fanwei").hide();
            var bj = 0;
            $("#guanlifenlei").val("全部");
            GetFanwei1(bj);
        });

        $("#bt_fanwei_add").click(function () {
            var _jyfw = "";
            var _jyfw1 = "";
            var _jyfw2 = "";
            var _jyfw3 = "";
            var _jyfwjm = "";
            var t = document.getElementsByClassName('xulieid');
            $("#qxdatatable tr input[type=checkbox]").each(function () {
                if (this.checked) {
                    switch ($(this).parent().parent().parent().siblings().find(".glfl").html()) {
                        case "1": _jyfw1 = _jyfw1 + $(this).parent().parent().parent().siblings().find(".bh").html() + "," + $(this).parent().parent().parent().siblings().find(".mc").html() + ";";
                            break;
                        case "2": _jyfw2 = _jyfw2 + $(this).parent().parent().parent().siblings().find(".bh").html() + "," + $(this).parent().parent().parent().siblings().find(".mc").html() + ";";
                            break;
                        case "3": _jyfw3 = _jyfw3 + $(this).parent().parent().parent().siblings().find(".bh").html() + "," + $(this).parent().parent().parent().siblings().find(".mc").html() + ";";
                            break;
                    }
                    //_jyfw = _jyfw + $(this).parent().parent().parent().siblings().find(".glfl").html() + "," + $(this).parent().parent().parent().siblings().find(".bh").html() + "," + $(this).parent().parent().parent().siblings().find(".mc").html() + ";";
                    _jyfwjm = _jyfwjm + $(this).parent().find(".xulieid").val() + ";";
                }
            });
            _jyfw = "三类:" + _jyfw3 + "\n" + "二类:" + _jyfw2 + "\n" + "一类:" + _jyfw1;
            if (_jyfw3 == "")
                _jyfw = _jyfw.replace("三类:\n", "");
            if (_jyfw2 == "")
                _jyfw = _jyfw.replace("二类:\n", "");
            if (_jyfw1 == "")
                _jyfw = _jyfw.replace("一类:", "");

            var _addok = confirm("确定要修改这些数据吗？");
            if (_addok) {
                if (_jyfw.length >= 512) {
                    alert("所选数据超过范围，请重新选择。")
                }
                else {
                    $("#jingyingfanwei").val(_jyfw);
                    $("#jingyingfanweijianma").val(_jyfwjm);
                    $("#pl_Fanwei").hide();
                    var bj = "0";
                }
                $("#guanlifenlei").val("全部");
                GetFanwei1(bj);
            }

        });
        //选择管理分类
        $("#guanlifenlei").change(function () {
            var fl = document.getElementsByClassName('glfl');
            var lb = $("#guanlifenlei").find("option:selected").text();
            if (lb == "一类") {
                for (var i = 0; i < fl.length; i++) {
                    if ($(".glfl").eq(i).text() == "1") {
                        $(".bg").eq(i).show();
                    }
                    else { $(".bg").eq(i).hide(); }
                }
            }
            if (lb == "二类") {
                for (var i = 0; i < fl.length; i++) {
                    if ($(".glfl").eq(i).text() == "2") {
                        $(".bg").eq(i).show();
                    }
                    else { $(".bg").eq(i).hide(); }
                }
            }
            if (lb == "三类") {
                for (var i = 0; i < fl.length; i++) {
                    if ($(".glfl").eq(i).text() == "3") {
                        $(".bg").eq(i).show();
                    }
                    else { $(".bg").eq(i).hide(); }
                }
            }
            if (lb == "全部") {
                $(".bg").show();
            }
        });
        //双击选取，单击打钩
        $("#qxdatatable").on("dblclick", "tr", function () {
            var _jyfw = "";
            var _jyfw1 = "";
            var _jyfw2 = "";
            var _jyfw3 = "";
            var _jyfwjm = "";
            var t = document.getElementsByClassName('xulieid');
            var bhmc = $(this).find(".glfl").html();
            switch (bhmc) {
                case "1": _jyfw1 = _jyfw1 + $(this).find(".bh").html() + "," + $(this).find(".mc").html() + ";";
                    break;
                case "2": _jyfw2 = _jyfw2 + $(this).find(".bh").html() + "," + $(this).find(".mc").html() + ";";
                    break;
                case "3": _jyfw3 = _jyfw3 + $(this).find(".bh").html() + "," + $(this).find(".mc").html() + ";";
                    break;
            }
            _jyfwjm = _jyfwjm + $(this).find(".xulieid").val() + ";";
            _jyfw = "三类:" + _jyfw3 + "\n" + "二类:" + _jyfw2 + "\n" + "一类:" + _jyfw1;
            if (_jyfw3 == "")
                _jyfw = _jyfw.replace("三类:\n", "");
            if (_jyfw2 == "")
                _jyfw = _jyfw.replace("二类:\n", "");
            if (_jyfw1 == "")
                _jyfw = _jyfw.replace("一类:", "");
            var _addok = confirm("确定要修改这条数据吗？");
            if (_addok) {
                if (_jyfw.length >= 512) {
                    alert("所选数据超过范围，请重新选择。")
                }
                else {
                    $("#jingyingfanwei").val(_jyfw);
                    $("#jingyingfanweijianma").val(_jyfwjm);
                    $("#pl_Fanwei").hide();
                    var bj = "0";
                }
                $("#guanlifenlei").val("全部");
                GetFanwei1(bj);
            }
        });
        $("#qxdatatable").on("click", "tr", function (e) {
            if (e.target.tagName == "TD" || e.target.tagName == "SPAN") {
                if ($(this).find(":checkbox").is(':checked')) {
                    $(this).find(":checkbox").prop("checked", false);
                } else {
                    $(this).find(":checkbox").prop("checked", true);
                }
            }
        });
        //BUTTON提交
        $("#save_top").click(function () {
            if ($("#daima").val() == "") {
                alert("代码不能为空");
                document.getElementById("shengcheng").focus();
            }
            else if ($("#shengcheng").val() == "") {
                alert("名称不能为空");
                document.getElementById("shengcheng").focus();
            }
            else { form.submit(); }
        })
        $("#save_bottom").click(function () {
            if ($("#daima").val() == "") {
                alert("代码不能为空");
                document.getElementById("shengcheng").focus();
            }
            else if ($("#shengcheng").val() == "") {
                alert("名称不能为空");
                document.getElementById("shengcheng").focus();
            }
            else { form.submit(); }
        })

        var form = $("#tempform");
        form.submit(function () {
            $.post(form.attr("action"),
                  form.serialize(),
                  function (result, status) {
                      //alert(status);
                      if (result._flag == 1) {
                          alert("更新成功");
                      }
                      else if (result._flag == -1) {
                          alert("更新失败");
                      }
                      else if (result._flag == -2) {
                          alert("更新失败，该代码已存在");
                      }
                      else { alert("未知异常"); }
                  },
                    "json");
            return false;

        });
        //照片的点击事件
        $(".yyzz_browse").click(function () {
            var yyzz = "@item.YingyezhizhaoTP";
            var img_url = $("#yyzz a").attr('href');
            if(img_url != null && img_url != ""){
                window.open(img_url);
            }else if( yyzz != null && yyzz != ""){
                window.open("/files/zhengzhao/@item.YingyezhizhaoTP");
            }
        });
        $(".xkz_browse").click(function () {
            var xkz = "@item.JingyingxukeTP";
            var img_url = $("#xkz a").attr('href');
            if(img_url != null && img_url != ""){
                window.open(img_url);
            }else if( xkz != null && xkz != ""){
                window.open("/files/zhengzhao/@item.JingyingxukeTP");
            }
        });
        $(".BATP_browse").click(function () {
            var BATP = "@item.BeianTP";
            var img_url = $("#BATP a").attr('href');
            if(img_url != null && img_url != ""){
                window.open(img_url);
            }else if( BATP != null && BATP != ""){
                window.open("/files/zhengzhao/@item.BeianTP");
            }
        });
        //'是否合作'绑定值
        $("#HezuoSF").change(function () {
            if ($("#HezuoSF").is(":checked")) {
                $("#HezuoSF").val("true");//选中=true
            } else {
                $("#HezuoSF").val("false");//不选中=false
            }
        });
        //'是否合作'赋值
        var HezuoSF = "@item.HezuoSF";
        if (HezuoSF == "True") {
            $("#HezuoSF").attr("checked", true);
            $("#HezuoSF").val("true");
        } else {
            $("#HezuoSF").attr("checked", false);
            $("#HezuoSF").val("false");
        }
        //'是否审查'绑定值
        $("#ShenchaSF").change(function () {
            if ($("#ShenchaSF").is(":checked")) {
                $("#ShenchaSF").val("true");//选中=true
            } else {
                $("#ShenchaSF").val("false");//不选中=false
            }
        });
        //'是否审查'赋值
        var ShenchaSF = "@item.ShenchaSF";
        if (ShenchaSF == "True") {
            $("#ShenchaSF").attr("checked", true);
            $("#ShenchaSF").val("true");
        } else {
            $("#ShenchaSF").attr("checked", false);
            $("#ShenchaSF").val("false");
        }
    });
    //经营范围
    function Bt_Fanweiadd() {
        document.getElementById("pl_Fanwei").removeAttribute("hidden");
        $("#pl_Fanwei").show();
    }
    function bt_fanwei_all() {
        $(".xulieid").prop("checked", true);
    }

    function bt_fanwei_clear() {
        $(".xulieid").prop("checked", false);
    }

    function GetSpell() {
        $.post("/Service/GetSpellCode",
            {
                yourwords: $("#shengcheng").val()
            },
        function (response) {
            $("#daima").val(response);
        });
    }
    function GetFanwei1(a, b) {
        var bj = a;
        var tempid = b;
        //var _qxmlid = $("#qxml").val();
        var filltable = "";
        $.post(
                "/base_qixiemulu/GetQixiemulu1",
                {
                    //qxml: _qxmlid
                },
                function (data) {
                    for (var i in data) {
                        filltable = filltable + '<tr class="bg"><td><div class="checkbox"><label><input type="checkbox" class ="xulieid" value="';
                        filltable = filltable + data[i].ID;
                        filltable = filltable + '"></label></div></td><td style="width:80px"><span class="bh">';
                        filltable = filltable + data[i].Bianhao;
                        filltable = filltable + '</span></td><td style="width:150px"><span class="mc">';
                        filltable = filltable + data[i].Mingcheng;
                        filltable = filltable + '</span></td><td style="width:800px">';
                        filltable = filltable + data[i].Miaoshu;
                        filltable = filltable + '</td><td style="width:100px"><span class="glfl">';
                        filltable = filltable + data[i].GuanliFL;
                        filltable = filltable + '</span></td></tr>';
                    }
                    $("#pl_Fanwei tbody").html(filltable);
                    GetData(bj, tempid)
                });
        //GetData();
    }

    function GetFanwei(a, b) {
        var bj = a;
        var tempid = b;
        //var _qxmlid = $("#qxml").val();
        var filltable = "";
        $.post(
                "/base_qixiemulu/GetQixiemulu",
                {
                    //qxml: _qxmlid
                },
                function (data) {
                    for (var i in data) {
                        filltable = filltable + '<tr class="bg"><td><div class="checkbox"><label><input type="checkbox" class ="xulieid" value="';
                        filltable = filltable + data[i].ID;
                        filltable = filltable + '"></label></div></td><td style="width:80px"><span class="bh">';
                        filltable = filltable + data[i].Bianhao;
                        filltable = filltable + '</span></td><td style="width:150px"><span class="mc">';
                        filltable = filltable + data[i].Mingcheng;
                        filltable = filltable + '</span></td><td style="width:800px">';
                        filltable = filltable + data[i].Miaoshu;
                        filltable = filltable + '</td><td style="width:100px"><span class="glfl">';
                        filltable = filltable + data[i].GuanliFL;
                        filltable = filltable + '</span></td></tr>';
                    }
                    $("#pl_Fanwei tbody").html(filltable);
                    GetData(bj, tempid)
                });
    }

    function GetData(a, tempid) {
        var fw = document.getElementsByClassName('xulieid');
        var bj = a;
        var i = tempid;
        if (bj == 0) {
            var i = $("#jingyingfanweijianma").val();
        }
        if (i != null) {
            var t = i.split(";");
        } else { t = "" }
        //$(".bh").siblings().children().find(".checkbox").attr("checked", true);
        //$("input:checkbox").eq(2).attr("checked", true);
        //alert($(".bh").eq(0).text());
        //document.getElementById('checkbox').checked = true
        //$('.checkbox1').attr("checked",true);

        for (var k = 0; k < t.length; k++) {
            for (var l = 0; l < fw.length; l++) {
                if (t[k] == $(".xulieid").eq(l).val())
                    $("#qxdatatable tr input[type=checkbox]").eq(l).attr("checked", true);
            }
        }
    }
</script>
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/base_gongyingshang">供应商</a>
        </li>
        <li class="active"> 编辑</li>
    </ul>
</div>
<div class="page-content">
    <div class="page-header">
        <button type="button" class="btn btn-app btn-xs btn-primary radius-4" onclick="javascript: history.back(-1); "><i class="icon-reply icon-only"></i><b>返回</b></button>
        <button type="button" id="save_top" class="btn btn-app btn-xs btn-primary radius-4"><i class="icon-save"></i><b>更新</b></button>
    </div>
    <div class="wrapper" style="background: url('/Imgs/bg-cloud.png') repeat;">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="widget-box radius-4">
                        <div class="widget-header">
                            <h4><b>供应商信息</b></h4>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main no-padding">
                                <form role="form" action="/base_gongyingshang/Update" method="post" id="tempform" class="form-horizontal">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="ob_base_gongyingshang_id" value="@item.ID" />
                                    <input type="hidden" id="syid" value="@item.Shouying" />
                                    <input type="hidden" id="btnSelect" value="" />
                                    <input type="hidden" id="ob_base_gongyingshang_makeman" name="ob_base_gongyingshang_makeman" value=@Session["user_id"] />
                                    <input type="hidden" id="ob_base_gongyingshang_makedate" name="ob_base_gongyingshang_makedate" value=@string.Format("{0:yyyy-MM-dd}",DateTime.Now) />
                                    <fieldset>
                                        @*代码*@
                                        <div class="form-group">
                                            <label for="name" class="col-sm-3 control-label"><i class="red glyphicon glyphicon-asterisk"></i> <b>代码</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="daima" name="ob_base_gongyingshang_daima" class="form-control" placeholder="无需填写，由名称生成代码" value="@item.Daima" />
                                            </div>
                                        </div>
                                        @*名称*@
                                        <div class="form-group">
                                            <label for="shengcheng" class="col-sm-3 control-label"><i class="red glyphicon glyphicon-asterisk"></i> <b>名称</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input id="shengcheng" name="ob_base_gongyingshang_mingcheng" placeholder="请填写名称" class="form-control" type="text" value="@item.Mingcheng" />
                                                    <span class="input-group-btn">
                                                        <button type="button" onclick="GetSpell()" class="btn btn-primary btn-sm">
                                                            <b>生成代码</b>
                                                            <i class="icon-hand-up icon-on-right bigger-110"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        @*营业执照编号*@
                                        <div class="form-group">
                                            <label for="name" class="col-sm-3 control-label"><b>营业执照编号</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ob_base_gongyingshang_yingyezhizhaobh" class="form-control required:true" placeholder="请填写营业执照编号" value="@item.YingyezhizhaoBH" />
                                            </div>
                                        </div>
                                        @*营业执照有效期*@
                                        <div class="form-group">
                                            <label for="ob_base_gongyingshang_yingyezhizhaoyxq" class="col-sm-3 control-label"><b>营业执照有效期</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input id="ob_base_gongyingshang_yingyezhizhaoyxq" name="ob_base_gongyingshang_yingyezhizhaoyxq" placeholder="请填写营业执照有效期" class="form-control" value="@string.Format("{0:yyyy-MM-dd}", item.YingyezhizhaoYXQ)" type="date">
                                                    <span class="input-group-addon">
                                                        <i class="icon-calendar bigger-110"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        @*营业执照照片*@
                                        <div class="form-group">
                                            <label for="ob_base_gongyingshang_yingyezhizhaotp" class="col-sm-3 control-label"><b>营业执照照片</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input id="ob_base_gongyingshang_yingyezhizhaotp" name="ob_base_gongyingshang_yingyezhizhaotp" readonly placeholder="请上传照片" class="form-control" type="text" value="@item.YingyezhizhaoTP">
                                                    <span class="input-group-btn">
                                                        <button type="button" data-toggle="modal" data-target="#myModalUpload" onclick="btn1()" class="btn btn-primary btn-sm">
                                                            <b>上传</b>
                                                            <i class="icon-cloud-upload icon-on-right bigger-110"></i>
                                                        </button>
                                                        <span hidden id="yyzz"></span>
                                                        <button type="button" class="btn btn-primary btn-sm yyzz_browse">
                                                            <b>浏览</b>
                                                            <i class="icon-camera icon-on-right bigger-110"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        @*经营许可编号*@
                                        <div class="form-group">
                                            <label for="ob_base_gongyingshang_jingyingxukebh" class="col-sm-3 control-label"><b>经营许可编号</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ob_base_gongyingshang_jingyingxukebh" class="form-control" placeholder="请填写经营许可编号" value="@item.JingyingxukeBH" />
                                            </div>
                                        </div>
                                        @*经营许可有效期*@
                                        <div class="form-group">
                                            <label for="ob_base_gongyingshang_jingyingxukeyxq" class="col-sm-3 control-label"><b>经营许可有效期</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input id="ob_base_gongyingshang_jingyingxukeyxq" name="ob_base_gongyingshang_jingyingxukeyxq" placeholder="经营许可有效期" class="form-control" value="@string.Format("{0:yyyy-MM-dd}", item.JingyingxukeYXQ)" type="date">
                                                    <span class="input-group-addon">
                                                        <i class="icon-calendar bigger-110"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        @*经营许可照片*@
                                        <div class="form-group">
                                            <label for="ob_base_gongyingshang_jingyingxuketp" class="col-sm-3 control-label"><b>经营许可照片</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input id="ob_base_gongyingshang_jingyingxuketp" name="ob_base_gongyingshang_jingyingxuketp" readonly placeholder="请上传照片" class="form-control" type="text" value="@item.JingyingxukeTP">
                                                    <span class="input-group-btn">
                                                        <button type="button" data-toggle="modal" data-target="#myModalUpload" onclick="btn2()" class="btn btn-primary btn-sm">
                                                            <b>上传</b>
                                                            <i class="icon-cloud-upload icon-on-right bigger-110"></i>
                                                        </button>
                                                        <span hidden id="xkz"></span>
                                                        <button type="button" class="btn btn-primary btn-sm xkz_browse">
                                                            <b>浏览</b>
                                                            <i class="icon-camera icon-on-right bigger-110"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        @*经营许可批准日期*@
                                        <div class="form-group">
                                            <label for="ob_base_gongyingshang_xukepzrq" class="col-sm-3 control-label"><b>经营许可批准日期</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input id="ob_base_gongyingshang_xukepzrq" name="ob_base_gongyingshang_xukepzrq" placeholder="经营许可批准日期" class="form-control" value="@string.Format("{0:yyyy-MM-dd}", item.XukePZRQ)" type="date">
                                                    <span class="input-group-addon">
                                                        <i class="icon-calendar bigger-110"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        @*经营许可发证机关*@
                                        <div class="form-group">
                                            <label for="ob_base_gongyingshang_xukefzjg" class="col-sm-3 control-label"><b>经营许可发证机关</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ob_base_gongyingshang_xukefzjg" class="form-control" placeholder="请填写经营许可发证机关" value="@item.XukeFZJG" />
                                            </div>
                                        </div>
                                        @*经营范围*@
                                        <div class="form-group">
                                            <label for="ob_base_gongyingshang_jingyingfanwei" class="col-sm-3 control-label"><b>经营范围</b></label>
                                            <div class="col-sm-8">
                                                <button type="button" class="btn btn-primary btn-sm" id="bt_Fanweiadd" onclick="Bt_Fanweiadd()"><b>增加</b><i class="icon-hand-up icon-on-right bigger-110"></i></button>
                                                <textarea type="text" style="resize:vertical;" rows="6" class="form-control" readonly id="jingyingfanwei" name="ob_base_gongyingshang_jingyingfanwei">@item.Jingyingfanwei</textarea>
                                            </div>
                                        </div>
                                        @*经营范围简码*@
                                        <div class="form-group" style="display:none">
                                            <label for="ob_base_gongyingshang_jingyingfanweidm" class="col-sm-3 control-label"><b>经营范围简码</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control " id="jingyingfanweijianma" name="ob_base_gongyingshang_jingyingfanweidm" value="@item.JingyingfanweiDM">
                                            </div>
                                        </div>
                                        @*备案编号*@
                                        <div class="form-group">
                                            <label for="ob_base_gongyingshang_beianbh" class="col-sm-3 control-label"><b>备案编号</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ob_base_gongyingshang_beianbh" class="form-control" placeholder="请填写备案编号" value="@item.BeianBH" />
                                            </div>
                                        </div>
                                        @*备案有效期*@
                                        <div class="form-group">
                                            <label for="ob_base_gongyingshang_beianyxq" class="col-sm-3 control-label"><b>备案有效期</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input id="ob_base_gongyingshang_beianyxq" name="ob_base_gongyingshang_beianyxq" placeholder="备案有效期" class="form-control" value="@string.Format("{0:yyyy-MM-dd}", item.BeianYXQ)" type="date" style="z-index:1000;position:relative;">
                                                    <span class="input-group-addon">
                                                        <i class="icon-calendar bigger-110"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        @*备案照片*@
                                        <div class="form-group">
                                            <label for="ob_base_gongyingshang_beiantp" class="col-sm-3 control-label"><b>备案照片</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input id="ob_base_gongyingshang_beiantp" name="ob_base_gongyingshang_beiantp" readonly placeholder="请上传照片" class="form-control" type="text">
                                                    <span class="input-group-btn">
                                                        <button type="button" data-toggle="modal" data-target="#myModalUpload" onclick="btn3()" class="btn btn-primary btn-sm" value="@item.BeianTP">
                                                            <b>上传</b>
                                                            <i class="icon-cloud-upload icon-on-right bigger-110"></i>
                                                        </button>
                                                        <span hidden id="BATP"></span>
                                                        <button type="button" class="btn btn-primary btn-sm BATP_browse">
                                                            <b>浏览</b>
                                                            <i class="icon-camera icon-on-right bigger-110"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        @*备案批准日期*@
                                        <div class="form-group">
                                            <label for="ob_base_gongyingshang_beianpzrq" class="col-sm-3 control-label"><b>备案批准日期</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input id="ob_base_gongyingshang_beianpzrq" name="ob_base_gongyingshang_beianpzrq" placeholder="备案批准日期" class="form-control" value="@string.Format("{0:yyyy-MM-dd}", item.BeianPZRQ)" type="date" style="z-index:1000;position:relative;">
                                                    <span class="input-group-addon">
                                                        <i class="icon-calendar bigger-110"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        @*备案发证机关*@
                                        <div class="form-group">
                                            <label for="ob_base_gongyingshang_beianfzjg" class="col-sm-3 control-label"><b>备案发证机关</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ob_base_gongyingshang_beianfzjg" class="form-control" placeholder="请填写备案发证机关" value="@item.BeianFZJG" />
                                            </div>
                                        </div>
                                        @*是否合作*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="HezuoSF"><b>是否合作</b></label>
                                            <div class="col-sm-8">
                                                <label class="control-group">
                                                    <input name="HezuoSF" id="HezuoSF" class="ace ace-switch ace-switch-7" type="checkbox">
                                                    <span class="lbl"></span>
                                                </label>
                                            </div>
                                        </div>
                                        @*是否审查*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="ShenchaSF"><b>是否审查</b></label>
                                            <div class="col-sm-8">
                                                <label class="control-group">
                                                    <input name="ShenchaSF" id="ShenchaSF" class="ace ace-switch ace-switch-7" type="checkbox">
                                                    <span class="lbl"></span>
                                                </label>
                                            </div>
                                        </div>
                                        @*录入日期*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="ob_base_gongyingshang_makedate"><b>录入日期</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input id="ob_base_gongyingshang_makedate" disabled="disabled" class="form-control" value="@string.Format("{0:yyyy-MM-dd}",item.MakeDate)" type="text">
                                                    <span class="input-group-addon">
                                                        <i class="icon-calendar bigger-110"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        @*录入人*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="MakeMan"><b>录入人</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input placeholder="录入人" disabled="disabled" class="form-control" type="text" value="@Html.GetDataValue_ID("userinfo", "全名", (int)item.MakeMan)">
                                                    <span class="input-group-addon">
                                                        <i class="icon-user bigger-110"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-actions center">
                                        <button id="save_bottom" class="btn btn-primary" type="button">
                                            <b>更新</b>
                                            <i class="icon-save bigger-110"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="pl_Fanwei" class="panel panel-primary" hidden style="position:fixed;top:100px;left:200px;width:1100px;height:600px;z-index:999">
    <div class="tuodong panel-heading">
        <h3 class="panel-title">经营范围管理<button id="pl_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body" @*style="width:1080px;height:550px;z-index:999;overflow:scroll"*@>
        <div class="center">
            <button type="button" class="btn btn-default " id="bt_fanwei_add"><i class="icon-add"></i>确定</button>
            <button type="button" class="btn btn-default " id="bt_fanwei_all" onclick="bt_fanwei_all()">全选</button>
            <button type="button" class="btn btn-default " id="bt_fanwei_clear" onclick="bt_fanwei_clear()">全部取消</button>
            <button type="button" class="btn btn-default " id="bt_fanwei_showdalei">显示大类</button>
            <button type="button" class="btn btn-default " id="bt_fanwei_showall">显示全部</button>
            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;管理类别</label>
            <select name="guanlifenlei" id="guanlifenlei">
                <option value="全部">全部</option>
                <option value="一类">一类</option>
                <option value="二类">二类</option>
                <option value="三类">三类</option>
            </select>
            <table class="table" id="qxdatatable">
                <caption></caption>
                <thead>
                    <tr style="display:block" class="tuodong">
                        <td></td>
                        <td style="width:120px">编号</td>
                        <td style="width:80px">名称</td>
                        <td style="width:930px">描述</td>
                        <td style="width:100px">管理分类</td>
                    </tr>
                </thead>
                <tbody style="display:block; max-height:460px;width:1070px;overflow:scroll"></tbody>
            </table>
        </div>
    </div>
</div>


