@using GROBS.App_Code;
@using GROBS.Models;
@using X.PagedList;
@using X.PagedList.Mvc;
@{ ViewBag.Title = "供应商清单";
    string _searchcondition = ViewBag.SearchCondition;
}

<script type="text/javascript">
    $(document).ready(function () {

        $("tr").bind("dblclick", function () {
            var u_id = $(this).find('td').eq(0).find('input').val();
            if (u_id != null) {
                var url_go = "/base_gongyingshang/Edit/" + u_id;
                location.href = url_go;
            }
        });
        $("#bt_gspedit").click(function () {
            var sendval = "";
            var stateinfo = "";
            $("tr input[type=checkbox]").each(function () {
                if (this.checked) {
                    sendval = $(this).val();
                    stateinfo = $(this).parent().parent().parent().parent().find("td").eq(1).html();
                }
            });
            if (sendval == "") {
                alert("请选择需要进行修改的资料！");
                return;
            }
            if (stateinfo !== "已通过") {
                alert("未通过的信息，不能使用GSP进行修改！");
                return;
            }
            window.open("/quan_gspgys/edit/" + sendval);
        });
        $("#bt_sendcheck").click(function () {
            var sendval = "";
            $("tr input[type=checkbox]").each(function () {
                if (this.checked)
                    sendval = sendval + $(this).val() + ",";
            });
            if (sendval == "") {
                alert("请选择需要送审的资料！");
                return;
            }
            $.ajax({
                async: true,
                beforeSend: function () {
                    ShowWait();
                },
                complete: function () {
                    HiddenWait();
                },
                type: "POST",
                url: "/quan_shouyingsq/checkadd",
                data: {
                    checkval: sendval,
                    checktype: "3"
                },
                success: function (data) {
                    if (data != "ok")
                        alert("送审失败，请重新上传！");
                    else
                        window.location.reload();
                }
            });
        });

        var t = document.getElementsByClassName('yyzztp');

        for (var i = 0; i < t.length; i++) {
            if (t[i].href.length < 42) {
                $(".yyzztp").eq(i).removeAttr("href")
                $(".yyzztp").eq(i).html("暂无")
            }
            else {
                $(".yyzztp").eq(i).html("浏览")
            }
        }

        var t = document.getElementsByClassName('jjxktp');

        for (var i = 0; i < t.length; i++) {
            if (t[i].href.length < 42) {
                $(".jjxktp").eq(i).removeAttr("href")
                $(".jjxktp").eq(i).html("暂无")
            }
            else {
                $(".jjxktp").eq(i).html("浏览")
            }
        }

        var t = document.getElementsByClassName('shencha');

        for (var i = 0; i < t.length; i++) {
            if ($(".shencha").eq(i).html() == "True") {
                $(".shencha").eq(i).html("是")
            }
            else {
                $(".shencha").eq(i).html("否")
            }
        }
        //table样式
        table_config(mydatatable);
        trResize();//初始化表头

    });

    function AddInfo() {
        location.href = "/base_gongyingshang/Add";
    }
    function EditInfo() {
        $("#mydatatable tr input[type=checkbox]").each(function () {
            if (this.checked)
                location.href = "/base_gongyingshang/Edit/" + $(this).val();
        });
    }
    function DelInfo() {
        var sDel = "";
        $("#mydatatable tr input[type=checkbox]").each(function () {
            if (this.checked)
                sDel = sDel + ", " + $(this).val()
        });
        if (sDel.length < 2)
            return;
        var url_go = "/base_gongyingshang/Delete/?del=" + sDel;
        location.href = url_go;
    }

    function Export() {
        location.href = "/base_gongyingshang/Export";
    }
</script>
@{
    List<SearchConditionModel> scms = new List<SearchConditionModel>();
    if (_searchcondition == null || _searchcondition == "")
    {
        SearchConditionModel scm = new SearchConditionModel();
        scm.ItemCode = "Daima";
        scm.ItemTitle = "代码";
        scm.ItemType = "System.String";
        scms.Add(scm);

        scm = new SearchConditionModel();
        scm.ItemCode = "Mingcheng";
        scm.ItemTitle = "名称";
        scm.ItemType = "System.String";
        scms.Add(scm);
    }
    else
    {
        //analysis condition
        string[] scs = _searchcondition.Split(';');
        if (scs.Length > 0)
        {
            SearchConditionModel scm = new SearchConditionModel();
            scm.ItemCode = "Daima";
            scm.ItemTitle = "代码";
            scm.ItemType = "System.String";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[0].Split(',')[1];
                scm.ItemOpValue = scs[0].Split(',')[2];
                scm.ItemJion = scs[0].Split(',')[3];
            }
            scms.Add(scm);

            scm = new SearchConditionModel();
            scm.ItemCode = "Mingcheng";
            scm.ItemTitle = "名称";
            scm.ItemType = "System.String";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[1].Split(',')[1];
                scm.ItemOpValue = scs[1].Split(',')[2];
                scm.ItemJion = scs[1].Split(',')[3];
            }
            scms.Add(scm);
        }
    }
}
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li class="active">供应商</li>
    </ul>
</div>
<div id="loading"><img src="~/Imgs/wait.gif" alt="" />...系统正在加载数据,请耐心等待...</div>
<div class="page-content">
    @Html.Search_Condition((int)Session["user_id"], "供应商_条件组合查询", "/base_gongyingshang/index", "base_gongyingshangindex", scms)
    <div class="page-header">
        <button type="button" class="btn btn-primary btn-xs btn-app radius-4" id="bt_searchInfo" data-toggle="modal" data-target="#myModal"><i class="icon-search"></i>查询</button>
        <button type="button" class="btn btn-primary btn-xs btn-app radius-4" id="bt_addInfo" onclick="AddInfo()"><i class="icon-adn"></i>新增</button>
        <button type="button" class="btn btn-primary btn-xs btn-app radius-4" id="bt_updateInfo" onclick="EditInfo()"><i class="icon-edit"></i>编辑</button>
        @*<button type="button" class="btn btn-default " id="bt_deleteInfo" onclick="DelInfo()"><i class="icon-remove"></i>删除</button>*@
        <button type="button" class="btn btn-primary btn-xs btn-app radius-4" id="bt_refreshInfo" onclick="javascript: location.reload()"><i class="icon-refresh"></i>刷新</button>
        @*<button type="button" class="btn btn-default " id="bt_refreshInfo" onclick="Export()">表格</button>*@
        <button type="button" class="btn btn-primary btn-xs btn-app radius-4" id="bt_sendcheck"><i class="icon-check-sign"></i>送审</button>
        <button type="button" class="btn btn-primary btn-xs btn-app radius-4" id="bt_export" onclick="javascript: window.open('/base_gongyingshang/supplierexport')"><i class="icon-inbox"></i>导出</button>
        <button type="button" class="btn btn-primary btn-xs btn-app radius-4" id="bt_gspedit"><i class="icon-eraser"></i>GSP修改</button>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="table-wapper-all">
                <div class="fixed-table-wapper">
                    <table class="table table-bordered table-condensed fixed-table-header"></table>
                </div>
                <div class="table-wapper">
                    <table class="table table-bordered table-condensed" id="mydatatable">
                        <tr>
                            <th></th>
                            @*<th>首营状态</th>*@
                            <th>代码</th>
                            <th>名称</th>
                            <th>营业执照编号</th>
                            <th>营业执照有效期</th>
                            <th>营业执照照片</th>
                            <th>经营许可编号</th>
                            <th>经营许可有效期</th>
                            <th>经营许可照片</th>
                        </tr>
                        <tbody>
                            @foreach (var item in ViewBag.base_gongyingshang)
                            {
                                <tr>
                                    <td>
                                        <label><input type="checkbox" value="@item.ID"></label>
                                    </td>
                                    @*<td>@Html.GetCommonValue_ID("首营状态", (int)item.Shouying)</td>*@
                                    <td>@item.Daima</td>
                                    <td>@item.Mingcheng</td>
                                    <td>@item.YingyezhizhaoBH</td>
                                    <td>@item.YingyezhizhaoYXQ.ToString("yyyy-MM-dd")</td>
                                    <td><a href="/files/zhengzhao/@item.YingyezhizhaoTP" target="_blank" class="yyzztp">浏览</a></td>
                                    <td>@item.JingyingxukeBH</td>
                                    <td>@item.JingyingxukeYXQ.ToString("yyyy-MM-dd")</td>
                                    <td><a href="/files/zhengzhao/@item.JingyingxukeTP" target="_blank" class="jjxktp">浏览</a></td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <span class="pager">
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
            </span>
        </div>
    </div>
</div>
