@using GROBS.App_Code;
@{ViewBag.Title = "产品线添加";}
<script type="text/javascript">
    try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    $(document).ready(function () {
        $("#ob_base_chanpinxian_makedate").datepicker();
        //submit
        $("#save_top").bind("click", function () {
            $("#form").submit();
        });
        $("#save_bottom").bind("click", function () {
            $("#form").submit();
        });
    });
</script>
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/base_chanpinxian">产品线</a>
        </li>
        <li class="active"> 新增</li>
    </ul>
</div>

<div class="page-content">
    <div class="page-header">
        <p>
            <button type="button" class="btn btn-app btn-xs btn-primary radius-4" onclick="javascript:history.back(-1); "><i class="icon-reply icon-only"></i><b>返回</b></button>
            <button type="button" id="save_top" class="btn btn-app btn-xs btn-primary radius-4">
                <i class="icon-save"></i><b>保存</b>
                <span class="badge badge-transparent">
                    <i class="light-red icon-asterisk"></i>
                </span>
            </button>
        </p>
    </div>
    <div class="wrapper" style="background: url('/Imgs/bg-cloud.png') repeat;">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="widget-box radius-4">
                        <div class="widget-header">
                            <h4><b>产品线信息</b></h4>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main no-padding">
                                <form class="form-horizontal" id="form" role="form" action="/base_chanpinxian/Save" method="post">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="ob_base_chanpinxian_id" />
                                    <input type="hidden" id="MakeMan" name="ob_base_chanpinxian_makeman" value=@Session["user_id"] />
                                    <fieldset>
                                        @*货主*@
                                        <div class="form-group" style="display:none;">
                                            <label for="ob_base_chanpinxian_huozhuxuhao" class="col-sm-3 control-label"><i class="red glyphicon glyphicon-asterisk"></i> <b>货主</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" placeholder="必填项,请填写名称" name="ob_base_chanpinxian_huozhuxuhao" value="1">
                                                @*@Html.SelectList_Auto("ob_base_chanpinxian_huozhuxuhao", "货主", "名称")*@
                                            </div>
                                        </div>
                                        @*供应商*@
                                        <div class="form-group">
                                            <label for="GYSID" class="col-sm-3 control-label"><i class="red glyphicon glyphicon-asterisk"></i> <b>供应商</b></label>
                                            <div class="col-sm-8">
                                                @Html.SelectList_Auto("GYSID", "供应商", "")
                                            </div>
                                        </div>
                                        @*名称*@
                                        <div class="form-group">
                                            <label for="ob_base_chanpinxian_mingcheng" class="col-sm-3 control-label"><i class="red glyphicon glyphicon-asterisk"></i> <b>名称</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" placeholder="必填项,请填写名称" name="ob_base_chanpinxian_mingcheng">
                                            </div>
                                        </div>
                                        @*说明*@
                                        <div class="form-group">
                                            <label for="ob_base_chanpinxian_miaoshu" class="col-sm-3 control-label"><b>说明</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" placeholder="请填写说明" name="ob_base_chanpinxian_miaoshu">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="KFID" class="col-sm-3 control-label"><i class="red glyphicon glyphicon-asterisk"></i> <b>客服专员</b></label>
                                            <div class="col-sm-8">
                                                @Html.SelectList_Auto("KFID", "userinfo", "fullname")
                                            </div>
                                        </div>
                                        @*录入日期*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="makedate"><b>录入日期</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input name="ob_base_chanpinxian_makedate" disabled="disabled" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="text">
                                                    <span class="input-group-addon">
                                                        <i class="icon-calendar bigger-110"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        @*录入人*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="name"><b>录入人</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input disabled="disabled" class="form-control" type="text" value="@Html.GetDataValue_ID("userinfo", "全名", (int)ViewBag.userid)">
                                                    <span class="input-group-addon">
                                                        <i class="icon-user bigger-110"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-actions center">
                                        <button id="save_bottom" class="btn btn-primary" type="button">
                                            <b>保存</b>
                                            <i class="icon-save bigger-110"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

