@using GROBS.App_Code;
@using GROBS.Models;
@using X.PagedList;
@using X.PagedList.Mvc;
@{
    ViewBag.Title = "产品线清单";
    string _searchcondition = ViewBag.SearchCondition;
}
<script type="text/javascript">
    $(document).ready(function () {
        $("tr").bind("dblclick", function () {
            var u_id = $(this).find('td').eq(0).find('input').val();
            if (u_id != null) {
                var url_go = "/base_chanpinxian/Edit/" + u_id;
                location.href = url_go;
            }
        });
        //table样式
        table_config(mydatatable);
        trResize();//初始化表头
    });
    function AddInfo() {
        location.href = "/base_chanpinxian/Add";
    }
    function EditInfo() {
        $("#mydatatable tr input[type=checkbox]").each(function () {
            if (this.checked)
                location.href = "/base_chanpinxian/Edit/" + $(this).val();
        });
    }
    function DelInfo() {
        var sDel = "";
        $("#mydatatable tr input[type=checkbox]").each(function () {
            if (this.checked)
                sDel = sDel + ", " + $(this).val()
        });
        if (sDel.length < 2)
            return;
        var url_go = "/base_chanpinxian/Delete/?del=" + sDel;
        location.href = url_go;
    }
</script>
@{
    List<SearchConditionModel> scms = new List<SearchConditionModel>();
    if (_searchcondition == null || _searchcondition == "")
    {
        SearchConditionModel scm = new SearchConditionModel();
        scm.ItemCode = "Huozhuxuhao";
        scm.ItemTitle = "货主";
        scm.ItemType = "货主.名称";
        scms.Add(scm);

        scm = new SearchConditionModel();
        scm.ItemCode = "Mingcheng";
        scm.ItemTitle = "名称";
        scm.ItemType = "System.String";
        scms.Add(scm);
    }
    else
    {
        string[] scs = _searchcondition.Split(';');
        if (scs.Length > 0)
        {
            SearchConditionModel scm = new SearchConditionModel();
            scm.ItemCode = "Huozhuxuhao";
            scm.ItemTitle = "货主";
            scm.ItemType = "货主.名称";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[0].Split(',')[1];
                if (scm.ItemValue.Length == 0)
                {
                    scm.ItemValue = "0";
                }
                scm.ItemOpValue = scs[0].Split(',')[2];
                scm.ItemJion = scs[0].Split(',')[3];
            }
            scms.Add(scm);

            scm = new SearchConditionModel();
            scm.ItemCode = "Mingcheng";
            scm.ItemTitle = "名称";
            scm.ItemType = "System.String";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[1].Split(',')[1];
                scm.ItemOpValue = scs[1].Split(',')[2];
                scm.ItemJion = scs[1].Split(',')[3];
            }
            scms.Add(scm);
        }
    }
}

<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li class="active">产品线</li>
    </ul>
</div>
<div class="page-content">
    @Html.Search_Condition(5, "产品线_条件组合查询", "/base_chanpinxian/index", "base_chanpinxianindex", scms)
    <div class="page-header">
        <p>
            <button type="button" class="btn btn-primary btn-xs btn-app radius-4" id="bt_searchInfo" data-toggle="modal" data-target="#myModal"><i class="icon-search"></i><b>查询</b></button>
            <button type="button" class="btn btn-primary btn-xs btn-app radius-4" id="bt_addInfo" onclick="AddInfo()"><i class="icon-adn"></i><b>新增</b></button>
            <button type="button" class="btn btn-primary btn-xs btn-app radius-4" id="bt_updateInfo" onclick="EditInfo()"><i class="icon-edit"></i><b>编辑</b></button>
            <button type="button" class="btn btn-primary btn-xs btn-app radius-4" id="bt_deleteInfo" onclick="DelInfo()"><i class="icon-remove"></i>删除</button>
            <button type="button" class="btn btn-primary btn-xs btn-app radius-4" id="bt_refreshInfo" onclick="javascript: location.reload()"><i class="icon-refresh"></i><b>刷新</b></button>
        </p>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="table-wapper-all">
                <div class="fixed-table-wapper">
                    <table class="table table-bordered table-condensed fixed-table-header"></table>
                </div>
                <div class="table-wapper">
                    <table class="table table-bordered table-condensed" id="mydatatable">
                        <tr>
                            <th></th>
                            <th>供应商</th>
                            <th>名称</th>
                            <th>说明</th>
                            <th>录入日期</th>
                            <th>输入人</th>
                        </tr>
                        <tbody>
                            @foreach (var item in ViewBag.base_chanpinxian)
                            {
                                <tr>
                                    <td>
                                        <label><input type="checkbox" value="@item.ID"></label>
                                    </td>
                                    <td>@Html.GetDataValue_ID("供应商", "", (int)(item.GYSID == null ? 0 : item.GYSID))</td>
                                    <td>@item.Mingcheng</td>
                                    <td>@item.Miaoshu</td>
                                    <td>@item.MakeDate.ToString("yyyy-MM-dd")</td>
                                    <td>@Html.GetDataValue_ID("userinfo", "全名", (int)(item.MakeMan == null ? 0 : item.MakeMan))</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <span class="pager">
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
            </span>
        </div>
    </div>
</div>
