@using GROBS.App_Code
@using GROBS.Models
@model rmd_myreminderViewModel
@{
    ViewBag.Title = "我的提醒修改";
}

<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/rmd_myreminder">我的提醒</a>
        </li>
        <li class="active"> 编辑</li>
    </ul>
</div>

<div class="page-content">
    @using (Html.BeginForm("Update", "rmd_myreminder", FormMethod.Post, new { @role = "form" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" value="@ViewData.Model.ID" />
        <div class="page-header">
            <p>
                <button type="submit" class="btn btn-default"><i class="icon-save"></i>更新</button>
                <button type="button" class="btn btn-default" onclick="javascript: history.back(-1); "><i class="icon-hand-left"></i>返回</button>
            </p>
        </div>
        <div class="container">
            <div class="form-group">
                @Html.LabelFor(m => m.YonghuID, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @*@Html.TextBoxFor(m => m.YonghuID, new { @class = "form-control" })*@
                    @Html.SelectList_Auto("YonghuID", "userinfo", "fullname", (long)ViewData.Model.YonghuID)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TixingID, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @*@Html.TextBoxFor(m => m.TixingID, new { @class = "form-control" })*@
                    @Html.SelectList_Common("TixingID", "提醒对象",(long)ViewData.Model.TixingID)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TixingZQ, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @*@Html.TextBoxFor(m => m.TixingZQ, new { @class = "form-control" })*@
                    @Html.SelectList_Common("TixingZQ", "提醒区间",(long)ViewData.Model.TixingZQ)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.YemianXS, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.YemianXS, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MakeDate, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input id="MakeDate" type="date" class="form-control" name="MakeDate" value="@string.Format("{0:yyyy-MM-dd}",ViewData.Model.MakeDate)">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MakeMan, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.SelectList_Auto("MakeMan", "userinfo", "fullname", (long)ViewData.Model.MakeMan)
                </div>
            </div>
        </div>
    }
</div>
