@using GROBS.App_Code
@using GROBS.Models
@using X.PagedList
@using X.PagedList.Mvc
@{
    ViewBag.Title = "商品价格清单";
    string _searchcondition = ViewBag.SearchCondition;
}
<script type="text/javascript">
    try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    $(document).ready(function () {
        $("tr").bind("dblclick", function () {
            var u_id = $(this).find('td').eq(0).find('input').val();
            if (u_id != null) {
                var url_go = "/base_shangpinjg/Edit/" + u_id;
                location.href = url_go;
            }
        });
        //table样式
        table_config(mydatatable);
        trResize();//初始化表头
    });
    function AddInfo() {
        location.href = "/base_shangpinjg/Add";
    }
    function EditInfo() {
        $("#mydatatable tr input[type=checkbox]").each(function () {
            if (this.checked)
                location.href = "/base_shangpinjg/Edit/" + $(this).val();
        });
    }
    function DelInfo() {
        var sDel = "";
        $("#mydatatable tr input[type=checkbox]").each(function () {
            if (this.checked)
                sDel = sDel + ", " + $(this).val()
        });
        if (sDel.length < 2)
            return;
        var url_go = "/base_shangpinjg/Delete/?del=" + sDel;
        location.href = url_go;
    }
</script>
@{
    List<SearchConditionModel> scms = new List<SearchConditionModel>();
    if (_searchcondition == null || _searchcondition == "")
    {
        SearchConditionModel scm = new SearchConditionModel();
        scm.ItemCode = "SPID";
        scm.ItemTitle = "商品序号";
        scm.ItemType = "System.Int32";
        scms.Add(scm);
    }
    else
    {
        string[] scs = _searchcondition.Split(';');
        if (scs.Length > 0)
        {
            SearchConditionModel scm = new SearchConditionModel();
            scm.ItemCode = "SPID";
            scm.ItemTitle = "商品序号";
            scm.ItemType = "System.Int32";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[0].Split(',')[1];
                scm.ItemOpValue = scs[0].Split(',')[2];
                scm.ItemJion = scs[0].Split(',')[3];
            }
            scms.Add(scm);
        }
    }
}

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li class="active">商品价格</li>
    </ul>
</div>
<div class="page-content">
    @Html.Search_Condition((int)Session["user_id"], "商品价格_条件组合查询", "/base_shangpinjg/index", "base_shangpinjg_index", scms)
    <div class="page-header">
            <button type="button" class="btn btn-primary btn-xs btn-app radius-4" id="bt_searchInfo" data-toggle="modal" data-target="#myModal"><i class="icon-search"></i>查询</button>
            <button type="button" class="btn btn-primary btn-xs btn-app radius-4" id="bt_addInfo" onclick="AddInfo()"><i class="icon-adn"></i>新增</button>
            <button type="button" class="btn btn-primary btn-xs btn-app radius-4" id="bt_updateInfo" onclick="EditInfo()"><i class="icon-edit"></i>编辑</button>
            <button type="button" class="btn btn-primary btn-xs btn-app radius-4" id="bt_deleteInfo" onclick="DelInfo()"><i class="icon-remove"></i>删除</button>
            <button type="button" class="btn btn-primary btn-xs btn-app radius-4" id="bt_refreshInfo" onclick="javascript: location.reload()"><i class="icon-refresh"></i>刷新</button>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="table-wapper-all">
                <div class="fixed-table-wapper">
                    <table class="table table-bordered table-condensed fixed-table-header"></table>
                </div>
                <div class="table-wapper">
                    <table class="table table-bordered table-condensed" id="mydatatable">
                        <tr>
                            <th></th>
                            <th>商品</th>
                            <th>销售价</th>
                            <th>采购价</th>
                            <th>内部价</th>
                            <th>制单日期</th>
                            <th>制单人</th>
                        </tr>
                        <tbody>
                            @foreach (var item in ViewBag.base_shangpinjg)
                            {
                                <tr>
                                    <td>
                                        <label><input type="checkbox" value="@item.ID"></label>
                                    </td>
                                    <td>@Html.GetDataValue_ID("商品", "商品名称", (int)(item.SPID == null ? 0 : item.SPID))</td>
                                    <td>@item.JiaXS</td>
                                    <td>@item.JiaCG</td>
                                    <td>@item.JiaNB</td>
                                    <td>@string.Format("{0:yyyy-MM-dd}",item.MakeDate)</td>
                                    <td>@Html.GetDataValue_ID("userinfo", "全名", (int)(item.MakeMan == null ? 0 : item.MakeMan))</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <span class="pager">
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
            </span>
        </div>
    </div>
</div>
